<md-dialog aria-label="Mango (Fruit)" layout="column" flex="50" >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{vm.year}} Season Hours</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon class=""> close </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" layout-align="center center" flex>
		<canvas id="line" style="margin-top:20px;" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-click="" chart-options="vm.options"></canvas>
    </md-dialog-content>
    <md-dialog-actions layout="row">
     
    </md-dialog-actions>
</md-dialog>