<md-dialog aria-label="New Event" style="" flex="50" >
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2>Event Types</h2>
			<span flex></span>
			<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close</md-tooltip>
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-dialog-content class="md-margin">
			<md-toolbar class="md-table-toolbar md-default">
				<div class="md-toolbar-tools">
					<md-icon class="material-icons">search</md-icon>
					<form flex name="filter.form">
						<input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search" class="" aria-invalid="false">
					</form>
				</div>
			</md-toolbar>
			<md-table-container>
				<table md-table ng-model="selected" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order">
						<tr md-row>
							<th md-column md-order-by="type"><span>Event Type</span></th>
							<th md-column><span>Description</span></th>
							<th md-column style="width: 150px;"></th>
						</tr>
					</thead>
					<tbody md-body> <!-- -->
						<tr md-row ng-repeat="event_type in vm.event_types | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
							<td md-cell flex>
								{{event_type.type}}
							</td>
							<td md-cell flex>{{event_type.description}}</td>
							<td md-cell>
								<md-button class="md-icon-button">
									<md-icon>edit</md-icon>
								</md-button>
								<md-button class="md-icon-button">
									<md-icon>delete_forever</md-icon>
								</md-button>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{(vm.event_types | filter: vm.filter.search).length}}" md-page-select md-boundary-links></md-table-pagination>
		</md-dialog-content>
		<md-dialog-actions layout="row" class="noprint">
			<md-button type="button" ng-click="window.print();" class="md-icon-button">
					<md-tooltip md-direction="top">Print car list</md-tooltip>
					<md-icon class=""> print </md-icon>
			</md-button>
			<span flex></span>
			<md-button type="button" ng-click="vm.updateEventCarList(false)">
				<md-tooltip md-direction="top">Save and Close</md-tooltip>
				Save
			</md-button>
			<md-button type="button" ng-click="vm.updateEventCarList(true)">
				<md-tooltip md-direction="top">Save and Close</md-tooltip>
				Save & Close
			</md-button>
		</md-dialog-actions>
</md-dialog>
