<md-dialog aria-label="Event Registration" style="" flex="50" >
		<form layout="column" style="width:100%;" name="vm.registrationForm1" ng-submit="vm.registerForEvent()">
			<md-toolbar layout="row">
			  <div class="md-toolbar-tools">
				<h2>Register for {{vm.event.name}}</h2>
				<span flex></span>
				<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
				  <md-icon class=""> close </md-icon>
				</md-button>
			  </div>
			</md-toolbar>
			<md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
			<md-dialog-content class="md-margin" layout="column" flex layout-align="center space-between">
				<v-accordion class="vAccordion--default">
				  <!-- add expanded attribute to open the section -->
				  <v-pane expanded>
				    <v-pane-header>
				      Registration
				    </v-pane-header>
				    <v-pane-content>
				      Am I going?? <br/>
							Time Slots
				    </v-pane-content>
				  </v-pane>
				  <v-pane >
				    <v-pane-header>
				      Driving
				    </v-pane-header>
				    <v-pane-content>
				      Can You Drive??
				    </v-pane-content>
				  </v-pane>
				  <v-pane >
				    <v-pane-header>
				      Room
				    </v-pane-header>
				    <v-pane-content>
				      Pick your hotel room
				    </v-pane-content>
				  </v-pane>
				  <v-pane >
				    <v-pane-header>
				      Final Comments
				    </v-pane-header>
				    <v-pane-content>
							<div layout="row" flex layout-align="start center" ng-if="vm.registrationForm.registration">
								<md-input-container class="" style="width:99%;">
				          <label>Comments</label>
				          <textarea ng-model="vm.registrationForm.comments" rows="5" md-select-on-focus></textarea>
				        </md-input-container>
							</div>
				    </v-pane-content>
				  </v-pane>
				</v-accordion>
			</md-dialog-content>
			<md-dialog-actions layout="row" class="noprint">
				<span flex></span>
				<md-button type="submit" class="md-raised md-primary">
					Submit
				</md-button>
			</md-dialog-actions>
		</form>
</md-dialog>
