<md-dialog aria-label="New Event" style="" flex="50" >
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2>Google Form Maping</h2>
			<span flex></span>
			<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close</md-tooltip>
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-dialog-content class="md-margin">
			<div flex layout="column">
				<md-input-container >
					<label>Email</label>
				 	<input ng-model="vm.currentMap.email"/>
				</md-input-container>
				<md-input-container >
					<label>First Name</label>
				 	<input ng-model="vm.currentMap.fname"/>
				</md-input-container>
				<md-input-container >
					<label>Last Name</label>
				 	<input ng-model="vm.currentMap.lname"/>
				</md-input-container>
				<md-input-container >
					<label>Phone</label>
				 	<input ng-model="vm.currentMap.phone"/>
				</md-input-container>
				<md-input-container >
					<label>User Type</label>
				 	<input ng-model="vm.currentMap.user_type"/>
				</md-input-container>
				<md-input-container >
					<label>School</label>
				 	<input ng-model="vm.currentMap.school"/>
				</md-input-container>
				<md-input-container>
					<label>Graduation Year</label>
				 	<input ng-model="vm.currentMap.grad"/>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" class="noprint">
			<span flex></span>
			<md-button class="noprint" ng-click="vm.submit()">
				<md-tooltip md-direction="top">Close and Submit</md-tooltip>
			  Save
			</md-button>
		</md-dialog-actions>
</md-dialog>
