<md-dialog aria-label="New Event" style="" layout="column" flex="50" >
	<!--<form ng-cloak layout="column" flex layout-fill style="" ng-submit="vm.addEvent()">-->
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2>New Event</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-dialog-content layout="column" class="md-margin">
			<div ng-show="vm.showGoogle">
				<form ng-cloak layout="column" flex layout-fill style="" ng-submit="vm.searchGoogleFunc()">
					<div layout="column" layout-gt-sm="row" layout-align="start center">
						<md-input-container flex>
							<label>Search</label>
							<input ng-model="vm.searchGoogle.q"/>
						</md-input-container>
							<md-input-container flex>
								<label>Min Time</label>
								<input moment-picker="vm.searchGoogle.end_form"
									format="LL"
									min-view="year"
									max-view="month"
									locale="en"
								 	ng-model="vm.searchGoogle.timeMin">
								</input>
							</md-input-container>
							<md-input-container flex>
								<label>Max Time</label>
								<input moment-picker="vm.searchGoogle.start_form"
										format="LL"
									 	min-view="year"
									 	max-view="month"
										locale="en"
									 	ng-model="vm.searchGoogle.timeMax">
								</input>
							</md-input-container>
							<md-button type="submit" class="md-icon-button">
								<md-icon class=""> search </md-icon>
							</md-button>
						</form>
					</div>
					<div>
						<md-table-container>
							<table md-table ng-model="selected" md-progress="vm.loading.searchGoogle">
								<thead md-head md-order="vm.query.order" md-on-reorder="vm.searchGoogleFunc">
									<tr md-row>
										<th md-column md-order-by="name"><span>Event Name</span></th>
										<th md-column md-order-by="event_start"><span>Start Date</span></th>
										<th md-column md-order-by="event_end"><span>End Date</span></th>
										<th md-column md-order-by="location"><span>Location</span></th>
									</tr>
								</thead>
								<tbody md-body> <!-- | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit -->
									<tr md-row ng-repeat="event in vm.googleEvents.data | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
										<td md-cell>{{event.name}}</td>
										<td md-cell>
											{{event.event_start_unix*1000 | date:'MMM d, y h:mm a'}}
										</td>
										<td md-cell>
											{{event.event_end_unix*1000 | date:'MMM d, y h:mm a'}}
										</td>
										<td md-cell>
											{{event.location}}
										</td>
										<td md-cell>
											<md-button class="md-icon-button" type="button" ng-click="vm.selectGoogleEvent(event)">
												<md-tooltip md-direction="top">Add event from Google calendar</md-tooltip>
												<md-icon>add</md-icon>
											</md-button>
										</td>
									</tr>
								</tbody>
							</table>
						</md-table-container>
						<md-table-pagination md-limit="vm.query.limit" md-limit-options="[5]" md-page="vm.query.page" md-total="{{vm.googleEvents.total}}" md-page-select md-boundary-links></md-table-pagination>
					</div>
				</div>
				<div ng-hide="vm.showGoogle">
					<div layout="row" class="md-toolbar-tools">
						<md-button class="md-icon-button" type="button" ng-click="vm.backToSearch()">
							<md-tooltip md-direction="top">Go Back to Event Search</md-tooltip>
							<i class="material-icons">arrow_back</i>
						</md-button>
						<span flex></span>
					</div>
					<div>
						<form ng-cloak layout="column" flex layout-fill style="" ng-submit="vm.addEvent()">
							<div layout="row">
								<md-input-container flex class="md-icon-float md-block">
									<label>Event Name</label>
									<md-icon md-font-library="material-icons">event_available</md-icon>
									<input ng-model="vm.data.name" readonly required></input>
									<div class="hint">This is autopopulated from the Google Calendar.  Update the Google calendar for changes.</div>
								</md-input-container>
								<md-input-container flex class="md-icon-float md-block">
									<label>Event Type</label>
									<md-icon md-font-library="material-icons">widgets</md-icon>
									<input ng-model="vm.data.type" required></input>
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container flex class="md-icon-float md-block">
									<label>Start Time</label>
									<md-icon md-font-library="material-icons">today</md-icon>
									<input moment-picker="vm.data.startTime" disable="true"
										 format="LLL"
										 ng-model="vm.data.start_moment" required>
									</input>
									<div class="hint">This is autopopulated from the Google Calendar.  Update the Google calendar for changes.</div>
								</md-input-container>
								<md-input-container flex class="md-icon-float md-block">
									<label>End Time</label>
									<md-icon md-font-library="material-icons">today</md-icon>
									<input moment-picker="vm.data.endTime" disable="true"
										 format="LLL"
										 ng-model="vm.data.end_moment" required>
									</input>
									<div class="hint">This is autopopulated from the Google Calendar.  Update the Google calendar for changes.</div>
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container flex class="md-icon-float md-block" >
										<label>Location</label>
										<md-icon md-font-library="material-icons">location_on</md-icon>
										<input ng-model="vm.data.location" readonly required></input>
										<div class="hint">This is autopopulated from the Google Calendar.  Update the Google calendar for changes.</div>
									</md-input-container>
							</div>
							<div layout="row">
								<md-input-container flex class="md-icon-float md-block" >
										<label>Details</label>
										<md-icon md-font-library="material-icons">event_note</md-icon>
										<textarea ng-model="vm.data.details" required></textarea>
									</md-input-container>
							</div>
							<div layout="column">
								<div layout="row">
									Event Requirements
								</div>
								<div layout="row">
									<md-switch class="md-primary"  ng-model="vm.data.requirements.payment">
								   Payment Required
								  </md-switch>
									<md-switch class="md-primary"  ng-model="vm.data.requirements.permission_slip">
								   Permission Slip Required
								  </md-switch>
									<md-switch class="md-primary"  ng-model="vm.data.requirements.food">
								   Food Order Required
								  </md-switch>
									<md-switch class="md-primary"  ng-model="vm.data.requirements.room">
										Lodging Required
								  </md-switch>
									<md-switch class="md-primary"  ng-model="vm.data.requirements.drivers">
								   	Drivers Required
								  </md-switch>
								</div>
							</div>
							<div layout="column">
									<md-switch class="md-primary"  ng-model="vm.data.exempt_hours">
								   Exempt Hours
								  </md-switch>
							</div>
							<div layout="row">
								<span flex></span>
								<md-button type="submit">
									Submit
								</md-button>
							</div>
						</form>
						<!--<div>{{vm.data | json }}</div> -->
					</div>
				</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
		</md-dialog-actions>
	<!--</form>-->
</md-dialog>
