<md-dialog aria-label="Updates OAuth Credentials" style="" layout="column" flex="50" >
	<form ng-cloak layout="column" flex layout-fill ng-submit="vm.updateCredentials()">
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
				<h2>Update OAuth Credentials</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
				  <md-icon class=""> close </md-icon>
				</md-button>
	  	</div>
		</md-toolbar>
		<md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
		<md-dialog-content layout="column" layout-margin>
			<div layout="column">
				<md-input-container flex>
					<label>Client ID</label>
					<input ng-model="vm.data.client_id" required>
				</md-input-container>
				<md-input-container flex>
					<label>Client Secret</label>
					<input ng-model="vm.data.client_secret" required>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button type="submit">
				Submit
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
