<md-dialog aria-label="New Event" style="" flex="50" >
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2><span class="noprint">View/Edit </span>Room List for {{vm.eventInfo.name}}</h2>
			<span flex></span>
			<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close and cancel any unsaved changes</md-tooltip>
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
		<md-dialog-content class="md-margin">
			<div layout="row" ng-repeat="room in vm.room_list.rooms" style="border-top: solid;border-left: solid;border-right: solid;">
				<div flex layout="row" layout-align="start center" class="md-padding" style="border-right: solid;">
					{{room.room_title}}
				</div>
				<div flex class="dndList">
					<md-list ng-cloak
						dnd-list="vm.room_list.room_selection[room.room_id]"
						dnd-allowed-types="room.roomType"
						dnd-disable-if="(room.user_type == 'Student' && vm.room_list.room_selection[room.room_id].length >= 4) || (room.user_type == 'Mentor' && vm.room_list.room_selection[room.room_id].length >= 2)"
						style="min-height:20px;">
					    <md-list-item ng-repeat="user in vm.room_list.room_selection[room.room_id]"
					        dnd-draggable="user"
					        dnd-moved="vm.room_list.room_selection[room.room_id].splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="models.selected = user"
					        ng-class="{'selected': models.selected === user}"
									dnd-type="user.roomType"
									class="min-height-reset"
					        >
									<dnd-nodrag layout="row" layout-align="start center">
	        					<div dnd-handle style="cursor: move;margin-right:10px;" class="noprint">:::</div>
						        <div>{{user.users.full_name}}</div>
								</dnd-nodrag>
					    </md-list-item>
					</md-list>
				</div>
			</div>
			<div layout="row" style="border: solid;">
				<div flex layout="row" layout-align="start center" class="md-padding" style="border-right: solid;">
					No Room Selected
				</div>
				<div flex class="dndList">
					<md-list ng-cloak
						dnd-list="vm.room_list.room_selection['non_select']"
						style="min-height:20px;">
					    <md-list-item ng-repeat="user in vm.room_list.room_selection['non_select']"
					        dnd-draggable="user"
					        dnd-moved="vm.room_list.room_selection['non_select'].splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="models.selected = user"
									dnd-type="user.roomType"
					        ng-class="{'selected': models.selected === user}"
									class="min-height-reset"
					        >
									<dnd-nodrag layout="row" layout-align="start center">
	        					<div dnd-handle style="cursor: move;margin-right:10px;" class="noprint">:::</div>
						        <div>{{user.users.full_name}}</div>
								</dnd-nodrag>
					    </md-list-item>
					</md-list>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" class="noprint">
			<md-button type="button" ng-click="window.print();" class="md-icon-button">
					<md-tooltip md-direction="top">Print room list</md-tooltip>
					<md-icon class=""> print </md-icon>
			</md-button>
			<md-input-container>
        <label>Add New Room</label>
        <md-select ng-model="vm.newRoom" style="min-width:150px;">
          <md-option><em>None</em></md-option>
          <md-option ng-repeat="room in vm.newRoomOpts" ng-value="room">
            {{room.user_type}}<span ng-show="room.gender != ''"> - {{room.gender}}</span>
          </md-option>
        </md-select>
      </md-input-container>
			<md-button class="md-icon-button noprint" ng-click="vm.addEventRoom()">
				<md-tooltip md-direction="top">Add room</md-tooltip>
			  <md-icon class=""> add </md-icon>
			</md-button>
			<span flex></span>
			<md-button type="button" ng-click="vm.updateEventRoomList(false)">
				<md-tooltip md-direction="top">Save and Close</md-tooltip>
				Save
			</md-button>
			<md-button type="button" ng-click="vm.updateEventRoomList(true)">
				<md-tooltip md-direction="top">Save and Close</md-tooltip>
				Save & Close
			</md-button>
		</md-dialog-actions>
</md-dialog>
