<md-dialog aria-label="New Event" style="" layout="column" flex="50" >
	<form ng-cloak layout="column" flex layout-fill style="background: #FDB813;" ng-submit="">
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2>View/Edit Room List</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-dialog-content layout="column" layout-margin>
			<div layout="column">
				
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button type="submit">
				Submit
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
