<md-dialog aria-label="New Event" style="" flex="50" >
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2><span class="noprint">View/Edit </span>Room List for {{vm.eventInfo.name}}</h2>
			<span flex></span>
			<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-dialog-content class="md-margin">
			<div layout="row" ng-repeat="room in vm.room_list.rooms" style="border-top: solid;border-left: solid;border-right: solid;">
				<div flex layout="row" layout-align="start center" class="md-padding" style="border-right: solid;">
					{{room.room_title}}
				</div>
				<div flex class="dndList">
					<md-list ng-cloak
						dnd-list="vm.room_list.room_selection[room.room_id]"
						dnd-disable-if="vm.room_list.room_selection[room.room_id].length >= 4"
						style="min-height:20px;">
					    <md-list-item ng-repeat="user in vm.room_list.room_selection[room.room_id]"
					        dnd-draggable="user"
					        dnd-moved="vm.room_list.room_selection[room.room_id].splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="models.selected = user"
					        ng-class="{'selected': models.selected === user}"
									class="min-height-reset"
					        >
									<dnd-nodrag layout="row" layout-align="start center">
	        					<div dnd-handle style="cursor: move;margin-right:10px;" class="noprint">:::</div>
						        <div>{{user.full_name}}</div>
								</dnd-nodrag>
					    </md-list-item>
					</md-list>
				</div>
			</div>
			<div layout="row" style="border: solid;">
				<div flex layout="row" layout-align="start center" class="md-padding" style="border-right: solid;">
					No Room Selected
				</div>
				<div flex class="dndList">
					<md-list ng-cloak
						dnd-list="vm.room_list.room_selection['non_select']"
						style="min-height:20px;">
					    <md-list-item ng-repeat="user in vm.room_list.room_selection['non_select']"
					        dnd-draggable="user"
					        dnd-moved="vm.room_list.room_selection['non_select'].splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="models.selected = user"
					        ng-class="{'selected': models.selected === user}"
					        >
									<dnd-nodrag layout="row" layout-align="start center">
	        					<div dnd-handle style="cursor: move;margin-right:10px;" class="noprint">:::</div>
						        <div>{{user.full_name}}</div>
								</dnd-nodrag>
					    </md-list-item>
					</md-list>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" class="noprint">
			<md-button type="button" ng-click="window.print();" class="md-icon-button">
					<md-tooltip md-direction="top">Print room list</md-tooltip>
					<md-icon class=""> print </md-icon>
			</md-button>
			<span flex></span>
			<md-button type="submit">
				Submit
			</md-button>
		</md-dialog-actions>
</md-dialog>
