<md-dialog aria-label="New Event" style="" flex="50" >
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2>Google Service Account Credentials</h2>
			<span flex></span>
			<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close</md-tooltip>
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-dialog-content class="md-margin">
			<div>
				<pre>{{vm.credentials | json}}</pre>
			</div>
			<div flex layout="column">
				<md-input-container flex ng-repeat="(key,value) in vm.credentials">
					<label>{{key | underscoreless | capitalizeWordsFirst}}</label>
				 	<textarea ng-model="vm.credentials[key]" readonly></textarea>
					<!--<input type="text" ng-model="vm.credentials[key]" readonly/>-->
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" class="noprint">
			<span flex></span>
			<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close</md-tooltip>
			  Close
			</md-button>
		</md-dialog-actions>
</md-dialog>
