<md-dialog aria-label="New Event" style="" flex="50" >
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2>Google Service Account Credentials</h2>
			<span flex></span>
			<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close</md-tooltip>
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-dialog-content class="md-margin">
			<div>
				<pre>{{vm.credentials | json}}</pre>
			</div>
			<div flex layout="row">
				<!--<form flex ng-submit="vm.addNewType()" name="vm.newTypeForm">
					<div layout="column" layout-gt-sm="row" layout-align="start center">
						<md-input-container flex>
							<label>Type</label>
							<input type="text" ng-model="vm.formData.type" required>
						</md-input-container>
						<md-input-container class="" flex>
							<label>Description</label>
							<textarea ng-model="vm.formData.description" rows="1" md-select-on-focus></textarea>
						</md-input-container>
						<md-button type="submit" class="md-icon-button">
							<md-icon class=""> add </md-icon>
						</md-button>
					</div>
				</form>-->
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" class="noprint">
			<span flex></span>
			<md-button type="button" ng-click="vm.updateEventCarList(false)">
				<md-tooltip md-direction="top">Save and Close</md-tooltip>
				Save
			</md-button>
			<md-button type="button" ng-click="vm.updateEventCarList(true)">
				<md-tooltip md-direction="top">Save and Close</md-tooltip>
				Save & Close
			</md-button>
		</md-dialog-actions>
</md-dialog>
