<md-dialog aria-label="New Event" style="" flex="50" >
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2>Time Sheet</h2>
			<span flex></span>
			<md-button class="md-icon-button noprint" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close</md-tooltip>
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<md-dialog-content class="md-margin">
			<div layout="row" layout-align="start center" flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.date" required
						 format="dddd LL"
						 min-view="decade"
						 max-view="month"
						 start-view="year"
						 ng-model="vm.date_full">
					</input>
				</md-input-container>
				<md-button type="submit" class="md-icon-button" ng-click="vm.getSignInTimeSheet()">
					<md-icon class=""> add </md-icon>
				</md-button>
			</div>
			<div layout="column" layout-align="center start" flex>
				<div layout="row" layout-align="start center" style="width:100%;">
					<div flex>Name</div>
					<div flex>Time In</div>
					<div flex>Time Out</div>
				</div>
				<div layout="row" layout-align="start start" style="width:100%;" ng-repeat="user in vm.users">
					<div flex>{{user.full_name}}</div>
					<div layout="column" flex>
							<div ng-repeat="date in user.meeting_hours">{{date.time_in}}</div>
					</div>
					<div layout="column" flex>
							<div ng-repeat="date in user.meeting_hours">{{date.time_out}}</div>
					</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" class="noprint">
			<span flex></span>
			<md-button type="button" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close</md-tooltip>
				Close
			</md-button>
		</md-dialog-actions>
</md-dialog>
