<md-content>
	<md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show">
		<div class="md-toolbar-tools">
			<span>Events</span>
			<div flex></div>
			<md-button class="md-icon-button" ng-click="vm.showFilter()">
				<md-icon>filter_list</md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="vm.getEvents()">
				<md-icon>refresh</md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="vm.showEventTypesModal($event)">
				<md-tooltip md-direction="top">View/Edit Event Types</md-tooltip>
				<md-icon>list</md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="vm.newEventModal()">
				<md-tooltip md-direction="top">Add event from Google calendar</md-tooltip>
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show">
		<div class="md-toolbar-tools">
			<md-icon class="material-icons">search</md-icon>
			<form flex name="filter.form" >
				<input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search" class="" aria-invalid="false">
			</form>
			<md-button class="md-icon-button" ng-click="vm.removeFilter()">
				<md-icon class="material-icons">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-table-container>
		<table md-table ng-model="selected" md-progress="vm.promise">
			<thead md-head md-order="vm.query.order" md-on-reorder="vm.getEvents">
				<tr md-row>
					<th md-column md-order-by="name"><span>Event</span></th>
					<th md-column md-order-by="event_start"><span>Date</span></th>
					<th md-column md-order-by="num_days"><span># Days</span></th>
					<th md-column md-order-by="type"><span>Event Type</span></th>
					<th md-column md-order-by="game_name"><span>Season</span></th>
					<th md-column></th>
				</tr>
			</thead>
			<tbody md-body> <!-- | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit -->
				<tr md-row ng-repeat="event in vm.events">
					<td md-cell>{{event.name}}</td>
					<td md-cell>
						<span ng-show="event.date.single_day">
							{{event.date.start.long_date}} {{event.date.start.time_formatted}} - {{event.date.end.time_formatted}}
						</span>
						<span ng-hide="event.date.single_day">
							{{event.date.start.multi_day_start}} - {{event.date.end.multi_day_end}}
						</span>
					</td>
					<td md-cell>{{event.num_days}}</td>
					<td md-cell>{{event.type}}</td>
					<td md-cell>
						<div layout="row" layout-align="start center">
							<img ng-src="{{event.season.game_logo}}" class="avatar" alt="" ng-if="event.season.game_logo"/>
							{{event.season.game_name}}
						</div>
					</td>
					<td md-cell>
						<md-button class="md-icon-button" ui-sref="main.admin.event({'event_id':event.event_id})" ng-click="admin.slideLeft()">
							<md-icon>open_in_new</md-icon>
						</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.total}}" md-page-select md-boundary-links md-on-paginate="vm.getEvents"></md-table-pagination>
</md-content>
