<div flex layout="column" layout-gt-sm="row">
	<div flex>
		<md-toolbar class="md-table-toolbar" ng-hide="vm.filter.show">
			<div class="md-toolbar-tools">
				<span>Team Members</span>
				<div flex></div>
				<md-button class="md-icon-button" ng-click="vm.getUsers()">
					<md-tooltip md-direction="top">Refresh List</md-tooltip>
					<md-icon>refresh</md-icon>
				</md-button>
				<md-button class="md-accent md-hue-3" ng-click="vm.authorizeSignIn()" ng-hide="vm.signInAuthed">
					<md-tooltip md-direction="top">Admin permissions required</md-tooltip>
					Authorize Sign In
				</md-button>
				<md-button class="md-warn" ng-click="vm.deauthorizeSignIn()" ng-show="vm.signInAuthed">
					Deauthorize Sign In
				</md-button>
			</div>
		</md-toolbar>
		<md-table-container>
			<table md-table ng-model="vm.selected_user" md-progress="vm.promise">
				<thead md-head md-order="vm.query.order">
					<tr md-row>
						<th md-column md-order-by="lname"><span>Name</span></th>
						<!-- <th md-column md-order-by="user_type"><span>Type</span></th>	 -->
						<th md-column md-order-by="time_in"><span>Time In</span></th>
						<th md-column md-order-by="time_out"><span>Time Out</span></th>
						<th md-column md-numeric md-order-by="build_season_hours" ng-show="vm.users[0].build_season"><span>Build Season Hours</span></th>
						<th md-column md-numeric md-order-by="competition_season_hours" ng-show="vm.users[0].competition_season"><span>Competition Season Hours</span></th>
						<th md-column md-numeric md-order-by="off_season_hours" ng-show="vm.users[0].off_season"><span>Off Season Hours</span></th>
					</tr>
				</thead>
				<tbody md-body> <!-- | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit -->
					<tr md-row ng-repeat="user in vm.users | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
						<td md-cell style="cursor: pointer;" ng-click="vm.showSignInModal(user)">
							<md-list-item style="padding: 0px;" md-ink-ripple>
								<img ng-src="{{user.profile_image}}" class="md-avatar" alt=""/>
								{{user.full_name}}
							</md-list-item>
						</td>
						<!-- <td md-cell>{{user.user_type}}</td> -->
						<td md-cell><span ng-if="user.last_sign_in.time_in">{{user.last_sign_in.time_in_unix*1000 | date:'medium'}}</span></td>
						<td md-cell><span ng-if="user.last_sign_in.time_out">{{user.last_sign_in.time_out_unix*1000 | date:'medium'}}</span></td>
						<td md-cell>
							<span ng-if="user.build_season">{{user.annual_requirements.build_season_hours}}</span>
							<span ng-if="user.competition_season">{{user.annual_requirements.competition_season_hours}}</span>
							<span ng-if="user.off_season">{{user.annual_requirements.off_season_hours}}</span>
						</td>
					</tr>
				</tbody>
			</table>
			<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.users.length}}" md-page-select md-boundary-links></md-table-pagination>
		</md-table-container>
		<div>
			<h3>Sign In Instructions: </h3>
			<ol>
				<li>Select your name from the list above*</li>
				<li>Type your 4-8 digit PIN</li>
				<li>Press the submit button</li>
			</ol>
			<div>* If your name is not listed, Please fill out the Team {{main.configItems.team_number}} Google Form (<a ng-href="{{main.configItems.google_form_url}}" target="_blank">Click Here</a>).</div>
			<div>	 Students: Your default PIN will be your student ID that you entered into the Team {{main.configItems.team_number}} Google Form.</div>
			<div>  Mentors/Others: Please log in to the portal by clicking the "Log In" button in the top rght corner.  Please select one of the login providers (It does not have to be your team2363.org email).  Upon successful log in, please complete the new user form.  Here you will set your 4-8 digit PIN number.</div>
		</div>
	</div>

	<div class="backgroundPrimary" ng-show="vm.signInAuthed">
		<md-toolbar flex style="height:30px;" class="md-accent colorPrimary" layout="row" layout-align="center center">
			<div class="" style="color: colorAccent">
				<h3>{{ vm.clock | date:'medium'}}</h3>
			</div>
		</md-toolbar>
		<div>
			<img ng-src="{{vm.qrCodeUrl}}" alt='qr code'>
		</div>
	</div>
	<!--
	<div flex class="backgroundPrimary">
		<md-toolbar flex style="height:30px;" class="md-accent colorPrimary" layout="row" layout-align="center center">
			<div class="" style="color: colorAccent">
				<h3>{{ vm.clock | date:'medium'}}</h3>
			</div>
		</md-toolbar>
		<md-toolbar flex style="height:30px;border-bottom: var(--accent-color) 1px solid;" class="colorAccent" layout="row" layout-align="center center">
			<div class="">
					<input ng-model="vm.pin" placeholder="PIN Number" class="signin-pin backgroundPrimary" pattern="[0-9]{4,8}" type="password">
			</div>
		</md-toolbar>
		<bc-keypad
			bc-number-model="vm.pin"
			bc-left-button="backspace"
			bc-right-button="submit"
			bc-max-length="8"
			bc-right-button-method="vm.signinOut($event, numbers)"
		></bc-keypad>
	</div>-->
</div>

<!-- Define the keypad: -->
<!-- <bc-keypad
	bc-number-model="vm.numbers"
	bc-max-length="8"
	bc-left-button="backspace"
	bc-right-button="submit"
></bc-keypad> -->
