<div flex layout-gt-sm="row" layout="column">
	<md-content flex flex-gt-sm="50" flex-gt-md="33" layout="column" class="md-margin">
		<h1 class="md-headline">
			<md-button class="md-icon-button" ui-sref="main.admin.events" ng-click="admin.clickBack()">
				<md-tooltip md-direction="top">Go Back to Event List</md-tooltip>
				<i class="material-icons">arrow_back</i>
			</md-button>
			Event Information
		</h1>
		<form class="md-margin" layout="column">
			<md-input-container flex class="md-icon-float md-block">
				<label>Event Name</label>
				<md-icon md-font-library="material-icons">description</md-icon>
				<input ng-model="vm.event.name" required readonly/>
			</md-input-container>
			<div flex ng-show="vm.event.single_day">
				<md-input-container flex class="md-icon-float md-block">
					<label>Start Time</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input required ng-value="{{vm.event.event_start_unix*1000 | date:'longDate'}}"  readonly>
					</input>
				</md-input-container>
				<md-input-container flex class="md-icon-float md-block">
					<label>End Time</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.event.event_end" required readonly>
					</input>
				</md-input-container>
			</div>
			<div flex ng-hide="vm.event.single_day">
				<md-input-container flex class="md-icon-float md-block">
					<label>Start Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.event.event_start" required
						 format="LL"
						 ng-model="vm.event.event_start_full" disable="true" readonly>
					</input>
				</md-input-container>
				<md-input-container flex class="md-icon-float md-block">
					<label>End Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.event.event_end" required
						 format="LL"
						 ng-model="vm.event.event_end_full"
						 disable="true" readonly>
					</input>
				</md-input-container>
			</div>
			<md-input-container flex class="md-icon-float md-block">
				<label>FRC Season</label>
				<md-icon md-font-library="material-icons">event</md-icon>
				<md-select ng-model="vm.event.season_id"
						   md-on-close="vm.clearSearchSeason()"
						   data-md-container-class="selectdemoSelectHeader">
					<md-select-header class="demo-select-header">
						<input ng-model="vm.searchSeason"
						type="search"
						placeholder="Search for a Season.."
						class="demo-header-searchbox md-text">
					</md-select-header>
					<md-optgroup label="Seasons">
						<md-option value=""></md-option>
						<md-option ng-value="season.season_id" ng-repeat="season in vm.seasons | filter:vm.searchSeason">
							<md-list-item style="padding: 0px;">
							<img ng-src="{{season.game_logo}}" class="md-avatar" alt="" ng-if="season.game_logo"/>
							{{season.year}} - {{season.game_name}}
							</md-list-item>
						</md-option>
					</md-optgroup>
				</md-select>
			</md-input-container>
			<md-input-container flex class="md-icon-float md-block">
				<label>Type</label>
				<md-icon md-font-library="material-icons">explore</md-icon>
				<input ng-model="vm.event.type" required/>
			</md-input-container>
<!--			<div layout="row">
				<div flex>
					<md-input-container flex class="md-icon-float md-block">
						<label>Start Time</label>
						<md-icon md-font-library="material-icons">today</md-icon>
						<input moment-picker="vm.event.event_start" required
							 format="YYYY-MM-DD"
							 min-view="year"
							 max-view="day"
							 ng-model="vm.event.event_start_full">
						</input>
					</md-input-container>
				</div>
				<div>
					<md-checkbox ng-model="vm.event.single_day" aria-label="Single Day" ng-click="vm.checkSingle()">
						Single Day
					</md-checkbox>
				</div>
			</div>
			<md-input-container flex class="md-icon-float md-block">
				<label>End Date</label>
				<md-icon md-font-library="material-icons">today</md-icon>
				<input moment-picker="vm.event.event_end" required
					 format="YYYY-MM-DD"
					 min-view="year"
					 max-view="day"
					 ng-model="vm.event.event_end_full"
					 disable="vm.event.single_day">
				</input>
			</md-input-container> -->
	<!--		<div>
				<md-checkbox ng-model="vm.event.exempt_hours" aria-label="Exempt Hours">
					Exempt Hours from counting to season total
				</md-checkbox>
			</div> -->
			<div flex layout="row">
				<span flex></span>
				<md-button type="">
					cancel
				</md-button>
				<md-button type="submit" class="md-raised">
					Submit
				</md-button>
			</div>
		</form>
	</md-content>
	<md-content flex="grow" class="md-margin" layout="column">
		<div flex layout="column">
			<md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show">
				<div class="md-toolbar-tools">
					<span>Event Requirements</span>
					<div flex></div>
					<md-button class="md-icon-button" ng-click="vm.showFilter()">
						<md-icon>filter_list</md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-click="vm.showRoomListModal($event)" ng-show="vm.event.room">
						<md-tooltip md-direction="top">View/Edit hotel room list</md-tooltip>
						<md-icon>hotel</md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-click="vm.getUsers()">
						<md-icon>refresh</md-icon>
					</md-button>
					</div>
			</md-toolbar>
			<md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show">
				<div class="md-toolbar-tools">
					<md-icon class="material-icons">search</md-icon>
					<form flex name="filter.form" >
						<input type="text" ng-model="vm.query.filter" placeholder="search" class="" aria-invalid="false">
					</form>
					<md-button class="md-icon-button" ng-click="vm.removeFilter()">
						<md-icon class="material-icons">close</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-table-container>
				<table md-table md-row-select multiple ng-model="vm.selectedUsers">
					<thead md-head md-order="vm.query.order">
						<tr md-row>
							<th md-column md-order-by="full_name"><span>Name</span></th>
							<th md-column md-order-by="registration"><span>Registration</span></th>
							<th md-column md-order-by="payment" ng-show="vm.event.payment"><span>Payment</span></th>
							<th md-column md-order-by="permission_slip" ng-show="vm.event.permission_slip"><span>Permission Slip</span></th>
							<th md-column md-order-by="food" ng-show="vm.event.food"><span>Food Order</span></th>
							<th md-column md-order-by="food" ng-show="vm.event.room"><span>Room Selected</span></th><!--
							<th md-column md-order-by="off_season_hours"><span>Off Season Hours</span></th>
							<th md-column md-order-by="total"><span>Total Hours</span></th>				 -->
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-select="user" md-select-id="user_id" md-auto-select ng-repeat="user in vm.event.requirements.data | filter: vm.query.filter | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
							<td md-cell>
								<md-list-item style="padding: 0px;">
									{{user.full_name}}
								</md-list-item>
							</td>
							<td md-cell>
								<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="user.registration"></i>
								<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="user.registration"></i>
							</td>
							<td md-cell ng-show="vm.event.payment">
								<span ng-hide="user.user_type == 'Mentor'">
									<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="user.payment"></i>
									<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="user.payment"></i>
								</span>
								<i class="mdi mdi-minus-box mdi-24px" ng-hide="user.user_type == 'Student'"></i>
							</td>
							<td md-cell ng-show="vm.event.permission_slip">
								<span ng-hide="user.user_type == 'Mentor'">
									<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="user.permission_slip"></i>
									<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="user.permission_slip"></i>
								</span>
								<i class="mdi mdi-minus-box mdi-24px" ng-hide="user.user_type == 'Student'"></i>
							</td>
							<td md-cell ng-show="vm.event.food">
								<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="user.food"></i>
								<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="user.food"></i>
							</td>
							<td md-cell ng-show="vm.event.room" >
								<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="user.room_bool"></i>
								<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="user.room_bool"></i>
								<span style="margin-left:10px;">{{user.room_title}}</span>
							<!--	layout="row" layout-align="start center" style="height:49px;" <md-select ng-model="user.room_id" flex style="margin-left:10px;">
									<md-option value=""></md-option>
									<md-option value="{{room.room_id}}" ng-repeat="room in vm.event.room_list.data">{{room.room_title}}</md-option>
								</md-select> -->
							</td>
							<!-- <td md-cell>
								{{user.season_hours}}
							</td> -->
							<!-- <td md-cell>
								{{user.off_season_hours}}
							</td>
							<td md-cell>
								<md-button ng-click="vm.seasonHoursGraph(user.year)"><md-tooltip>Click to see graph Hours/Day</md-tooltip>{{user.total}}</md-button>
							</td> -->
						</tr>
					</tbody>
				</table>
				<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{(vm.event.requirements.data | filter: vm.query.filter).length}}" md-page-select md-boundary-links></md-table-pagination></md-content>
			</md-table-container>
			<md-fab-speed-dial md-open="vm.fabOpen" md-direction="up" class="md-scale md-fab-bottom-right">
				<md-fab-trigger>
					<md-button aria-label="menu" class="md-fab md-warn">
						<md-icon class="material-icons">menu</md-icon>
					</md-button>
				</md-fab-trigger>
				<md-fab-actions>
					<md-button aria-label="Register Toggle" class="md-fab md-raised md-mini" ng-click="vm.toggleEventReqs('registration')">
						<md-tooltip md-direction="left" md-autohide="false">Toggle Event Registration Status</md-tooltip>
						<md-icon class="material-icons">playlist_add_heck</md-icon>
					</md-button>
					<md-button aria-label="Payment Toggle" class="md-fab md-raised md-mini" ng-click="vm.toggleEventReqs('payment')" ng-show="vm.event.payment">
						<md-tooltip md-direction="left" md-autohide="false">Toggle Payment Status</md-tooltip>
						<md-icon class="material-icons">attach_money</md-icon>
					</md-button>
					<md-button aria-label="Permission Slip Toggle" class="md-fab md-raised md-mini" ng-click="vm.toggleEventReqs('permission_slip')" ng-show="vm.event.permission_slip">
						<md-tooltip md-direction="left" md-autohide="false">Toggle Permission Slip Status</md-tooltip>
						<md-icon class="material-icons">assignment</md-icon>
					</md-button>
					<md-button aria-label="Food Toggle" class="md-fab md-raised md-mini" ng-click="vm.toggleEventReqs('food')" ng-show="vm.event.food">
						<md-tooltip md-direction="left" md-autohide="false">Toggle Food Status</md-tooltip>
						<md-icon class="material-icons">local_dining</md-icon>
					</md-button>
				</md-fab-actions>
			</md-fab-speed-dial>
		</div>
	</md-content>
</div>
