<title ng-bind="'Team 2363 Portal | '+main.title">Team 2363 Portal</title>
<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left" flex-xs="100">
	<md-toolbar  class="md-hue-1 md-whiteframe-z2">
		<md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn">
			<img src="https://www.team2363.org/images/branding/helix.svg" style="max-height: 60px;"/>
		</md-button>
	</md-toolbar>
	<md-button ng-repeat-start="item in main.menuItems" layout="row" layout-gt-sm="column" layout-align="start center" layout-align-gt-sm="center center" flex class="capitalize" ng-click="main.selectItem(item)" ui-sref-active="md-warn" ui-sref="{{item.sref}}">
		<div class="md-tile-content">
			<i class="material-icons md-36">{{item.icon}}</i>
		</div>
		<div flex="5" hide-gt-sm></div>
		<div class="md-tile-content">
			{{item.name}}
		</div>
	</md-button>
	<md-divider ng-repeat-end></md-divider>
	<!-- <md-button ng-click="main.showActions($event)" layout-align="center center">
		<div class="md-tile-content">
			Actions
		</div>
	</md-button> -->
</md-sidenav>
<div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center">
        <section layout-align="start center" layout-fill flex class="md-toolbar-tools">
            <md-button hide-gt-sm ng-click="main.toggleItemsList()" aria-label="Menu">
                <i class="material-icons">menu</i>
            </md-button>
						<div class="" >
							<span hide-sm hide-xs>Team 2363 Portal <span ng-show="main.title != ''"> | </span></span>{{main.title}}
						</div>
        </section>
        <section layout-align="end center" layout="row" ng-show="main.isAuthed">
            <!-- <md-button class="toolbar-button" aria-label="Search" ng-click="main.showSearch = !main.showSearch">
                <i class="material-icons">search</i>
            </md-button> -->
          <!--  <md-button class="toolbar-button" aria-label="Notifications">
                <i class="material-icons">notifications</i>
                <span class="notifications-label">7</span>
            </md-button> -->
            <md-button class="toolbar-button" aria-label="Settings" ng-click="main.toggleRightSidebar()">
				<!--<i class="material-icons">menu</i>-->
				<img class="img-circle" ng-src="{{main.userInfo.profile_image}}">
            </md-button>
        </section>
		<section layout-align="end center" ng-hide="main.isAuthed">
            <md-button class="toolbar-button" aria-label="Search" ng-click="main.loginModal($event)">
               Log In
            </md-button>
		</section>
    </md-toolbar>
	<!-- <md-toolbar class="search-bar" layout="row" layout-align="center center" ng-show="main.showSearch">
		<div class="md-toolbar-tools">
        <md-icon class="material-icons">search</md-icon>
		<form flex name="filter.form" >
			<input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search" class="" aria-invalid="false">
		</form>
		<md-button class="md-icon-button" ng-click="vm.showSearchOptions = !vm.showSearchOptions">
			<md-icon class="material-icons">arrow_drop_down</md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="main.removeFilter()">
			<md-icon class="material-icons">close</md-icon>
		</md-button>
		</div>
    </md-toolbar>
	<md-content layout="column" ng-show="vm.showSearchOptions" class="md-padding" style="background-color: #fff; position: absolute; margin-top: 3px;width: 750px; z-index: 60; top:64px;">
		<md-input-container class="md-icon-float md-block">
			<label>Name</label>
			<md-icon class="material-icons">person</md-icon>
			<input ng-model="user.name" type="text">
		</md-input-container>
		<md-input-container md-no-float class="md-block">
			<label>Phone Number</label>
			<md-icon class="material-icons">phone</md-icon>
			<input ng-model="user.phone" type="text">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Email</label>
			<md-icon class="material-icons">email</md-icon>
			<input ng-model="user.email" type="email">
		</md-input-container>
		<md-input-container class="md-block">
			<label>User Type</label>
			<md-icon class="material-icons">person</md-icon>
			<md-select ng-model="user.statusa">
				<md-option value="" ></md-option>
				<md-option value="Mentor" >Mentor</md-option>
				<md-option value="Student" >Student</md-option>
			</md-select>
		</md-input-container>
		<md-input-container class="md-block">
			<label>User Type</label>
			<md-icon class="material-icons">person</md-icon>
			<md-select ng-model="user.stsatus" >
				<md-option value="" ></md-option>
				<md-option value="1" >Active</md-option>
				<md-option value="0" >Inactive</md-option>
			</md-select>
		</md-input-container>
		<div layout="row">
			<md-button ng-click="vm.showSearchOptions = false">Close</md-button>
			<div flex></div>
			<md-button>Reset</md-button>
			<md-button class="md-raised md-primary">Search</md-button>
		</div>
	</md-content> -->


    <md-content flex layout="roww" class="md-padding page-content">
        <div ui-view flex></div>
    </md-content>
</div>

<md-sidenav md-component-id="right" class="md-whiteframe-z2 md-sidenav-right">
    <md-toolbar>
        <md-toolbar class="md-warn" layout="row" layout-align="center center">
            <img class="img-circle" ng-src="{{main.userInfo.profile_image}}">
            <md-menu md-offset="0 20">
                <md-button class="capitalize" ng-click="$mdMenu.open()" aria-label="Open menu">
                    <span>{{main.userInfo.full_name}}</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item><md-button ng-click="main.toggleRightSidebar()" ui-sref="main.profile">Profile</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="main.toggleRightSidebar(); main.logout()">Log out</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
    </md-toolbar>
    <section>
        <md-toolbar  class="md-hue-1">
            <div class="md-toolbar-tools">
                <h3>Messages</h3>
            </div>
        </md-toolbar>
        <!-- <div ng-include src="'views/partials/messages.html'"/> -->
    </section>
</md-sidenav>
