<div flex layout-gt-sm="row" layout="column">
	<md-content flex flex-gt-sm="50" flex-gt-md="33" layout="column" class="md-margin">
		<h1 class="md-headline" layout="row" layout-align="center center">
			My Profile
		</h1>
		<md-progress-linear md-mode="indeterminate" ng-show="vm.loading.profile"></md-progress-linear>
		<form class="md-margin" flex layout="column" ng-submit="vm.updateUser()">
			<md-input-container flex required>
				<label>First Name</label>
				<input ng-model="main.userInfo.fname">
			</md-input-container>
			<md-input-container flex required>
				<label>Last Name</label>
				<input ng-model="main.userInfo.lname">
			</md-input-container>
			<md-input-container flex required>
				<label>Alt Email</label>
				<input ng-model="main.userInfo.email">
			</md-input-container>
			<md-input-container flex required>
				<label>Team Email</label>
				<input ng-model="main.userInfo.team_email">
			</md-input-container>
			<md-input-container flex required>
				<label>Phone</label>
				<input ng-model="main.userInfo.phone" phone-input type='text'/>
			</md-input-container>
			<div layout="row">
			<md-input-container flex>
				<label>User Type</label>
				<md-select ng-model="main.userInfo.user_type">
					<md-option ng-value="'Student'">Student</md-option>
					<md-option ng-value="'Mentor'">Mentor</md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex>
				<label>Gender</label>
				<md-select ng-model="main.userInfo.gender" required>
					<md-option value=""><em>Not Set</em></md-option>
					<md-option value="Male">Male</md-option>
					<md-option value="Female">Female</md-option>
				</md-select>
			</md-input-container>
			</div>
			<div layout="row">
				<md-autocomplete flex ng-required="main.userInfo.user_type=='Student'"  ng-disabled="main.userInfo.user_type!='Student'"
					md-input-name="autocompleteField"
					md-no-cache="false"
					md-selected-item="main.userInfo.schoolData"
					md-search-text="vm.searchText"
					md-items="item in vm.querySearch(vm.searchText)"
					md-item-text="item.school_name"
					md-floating-label="School Name">
					<md-item-template>
						<span md-highlight-text="vm.searchText">{{item.school_name}}</span>
					</md-item-template>
				</md-autocomplete>
				<md-input-container flex="33">
					<label>Graduation Year</label>
					<input ng-model="main.userInfo.grad_year" ng-required="main.userInfo.user_type=='Student'" ng-disabled="main.userInfo.user_type!='Student'"/>
				</md-input-container>
			</div>
			<div flex layout="row">
				<span flex></span>
				<md-button type="submit" class="md-raised md-primary">
					Submit
				</md-button>
			</div>
		</form>
	</md-content>
	<md-content flex="grow" class="md-margin" layout="column">
		<md-tabs md-border-bottom md-autoselect md-swipe-content md-dynamic-height style="margin-bottom: 10px;" flex>
			<md-tab label="Season Info">
				<md-content  flex layout="column">
					<h1 class="md-headline">
						<md-button class="md-icon-button" ng-click="vm.showPastReqs = !vm.showPastReqs">
							<md-tooltip md-direction="top">Show past season requirements</md-tooltip>
							<i class="material-icons">history</i>
						</md-button>
						<span ng-hide="vm.showPastReqs">{{vm.seasonInfo.upcomming.year}} {{vm.seasonInfo.upcomming.game_name}}</span>
						<span ng-show="vm.showPastReqs">All</span>
						Season Information
					</h1>
					<md-table-container>
						<table md-table>
							<thead md-head md-order="vm.query.order">
								<tr md-row>
									<th md-column md-order-by="year"><span>Season</span></th>
									<th md-column md-order-by="join_team"><span>Join Team</span></th>
									<th md-column md-order-by="stims"><span>STIMS/TIMS</span></th>
									<th md-column md-order-by="dues"><span>Pay Dues</span></th>
									<th md-column md-order-by="season_hours_exempt"><span>On Season Hours <br/> (including exemptions)</span></th>
									<th md-column md-order-by="off_season_hours"><span>Off Season Hours</span></th>
									<th md-column md-order-by="total"><span>Total Hours</span></th>
								</tr>
							</thead>
							<tbody md-body>
								<tr md-row ng-repeat="season in vm.seasonInfo.all | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" ng-show="vm.showPastReqs || $first">
									<td md-cell>
										<md-list-item style="padding: 0px;">
											<img ng-src="{{season.game_logo}}" class="md-avatar" alt="" ng-if="season.game_logo"/>
											{{season.year}} - {{season.game_name}}
										</md-list-item>
									</td>
									<td md-cell>
										<md-icon class="material-icons" style="color:green;" ng-show="season.join_team">check_circle</md-icon>
										<md-icon class="material-icons" style="color:red;" ng-hide="season.join_team">remove_circle</md-icon>
									</td>
									<td md-cell>
										<md-icon class="material-icons" style="color:green;" ng-show="season.stims">check_circle</md-icon>
										<md-icon class="material-icons" style="color:red;" ng-hide="season.stims">remove_circle</md-icon>
									</td>
									<td md-cell>
										<span ng-hide="main.userInfo.user_type == 'Mentor'">
											<md-icon class="material-icons" style="color:green;" ng-show="season.dues">check_circle</md-icon>
											<md-icon class="material-icons" style="color:red;" ng-hide="season.dues">remove_circle</md-icon>
										</span>
										<md-icon class="material-icons" ng-hide="main.userInfo.user_type == 'Student'">indeterminate_check_box</md-icon>
									</td>
									<td md-cell>
										{{season.season_hours_exempt}} ({{season.season_hours}})
									</td>
									<td md-cell>
										{{season.off_season_hours}}
									</td>
									<td md-cell>
										<md-button ng-click="vm.showSeasonHoursGraph($event,season.year)"><md-tooltip>Click to see graph Hours/Day</md-tooltip>{{season.total}}</md-button>
									</td>
								</tr>
							</tbody>
						</table>
						<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.seasonInfo.all.length}}" md-page-select md-boundary-links md-on-paginate="vm.getSeasons"></md-table-pagination>
					</md-table-container>
				</md-content>
				<md-content  flex layout="column">
					<h1 class="md-headline">
						Current Event Information
					</h1>
					<md-table-container>
						<table md-table>
							<thead md-head md-order="vm.query.order">
								<tr md-row>
									<th md-column md-order-by="name"><span>Event</span></th>
									<th md-column md-order-by="event_start"><span>Date</span></th>
									<th md-column md-order-by="num_days"><span># Days</span></th>
									<th md-column md-order-by="type"><span>Event Type</span></th>
									<th md-column md-order-by="game_name"><span>Season</span></th>
									<th md-column md-order-by="registration"><span>Registration</span></th>
									<th md-column md-order-by="payment"><span>Payment</span></th>
									<th md-column md-order-by="permission_slip"><span>Permission Slip</span></th>
									<th md-column md-order-by="food"><span>Food Order</span></th>
								</tr>
							</thead>
							<tbody md-body>
								<tr md-row ng-repeat="event in vm.eventInfo">
									<td md-cell>{{event.name}}</td>
									<td md-cell>
										<span ng-show="event.event_start == event.event_end">
											{{event.event_start_unix*1000 | date:'longDate'}}
										</span>
										<span ng-show="event.event_start != event.event_end">
											{{event.event_start_unix*1000 | date:'MMMM d'}} - {{event.event_end_unix*1000 | date:'d, y'}}
										</span>
									</td>
									<td md-cell>{{event.num_days}}</td>
									<td md-cell>{{event.type}}</td>
									<td md-cell>
										<md-list-item style="padding: 0px;">
											<img ng-src="{{event.game_logo}}" class="md-avatar" alt="" ng-if="event.game_logo"/>
											{{event.game_name}}
										</md-list-item>
									</td>
									<td md-cell>
										<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="event.registration"></i>
										<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="event.registration"></i>
									</td>
									<td md-cell>
										<span ng-hide="main.userInfo.user_type == 'Mentor'">
											<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="event.payment"></i>
											<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="event.payment"></i>
										</span>
										<i class="mdi mdi-minus-box mdi-24px" ng-hide="main.userInfo.user_type == 'Student'"></i>
									</td>
									<td md-cell>
										<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="event.permission_slip"></i>
										<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="event.permission_slip"></i>
									</td>
									<td md-cell>
										<i class="mdi mdi-checkbox-marked-circle mdi-24px" style="color:green;" ng-show="event.food"></i>
										<i class="mdi mdi-close-circle mdi-24px" style="color:red;" ng-hide="event.food"></i>
									</td>
								</tr>
							</tbody>
						</table>
						<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.seasonInfo.all.length}}" md-page-select md-boundary-links md-on-paginate="vm.getSeasons"></md-table-pagination>
					</md-table-container>
				</md-content>
			</md-tab>
			<md-tab label="Linked Accounts">
				<md-content  flex layout="column">
					<h1 class="md-headline" flex layout="row">
						<span flex></span>
						<span>Linked Accounts</span>
						<span flex></span>
						<md-menu>
							<md-button class="md-icon-button" ng-click="$mdMenu.open()"> <!--  -->
								<md-tooltip md-direction="top">Link new account</md-tooltip>
								<md-icon>add</md-icon>
							</md-button>
							<md-menu-content>
								<md-menu-item>
									<md-button class="google social" ng-click="vm.linkAccount('google')">
										<i class="mdi mdi-google"></i>
										Link Google Account
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button class="facebook social" ng-click="vm.linkAccount('facebook')">
										<i class="mdi mdi-facebook"></i>
										Link Facebook Account
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button class="microsoft social" ng-click="vm.linkAccount('live')">
										<i class="mdi mdi-microsoft"></i>
										Link Microsoft Account
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</h1>
					<!-- <md-toolbar layout="row" class="md-hue-3">
						<div class="md-toolbar-tools">
							<div flex></div>
							<div>Linked Accounts</div>
							<div flex></div>

						</div>
					</md-toolbar> -->
					<md-progress-linear md-mode="indeterminate" ng-show="vm.loadingDevices"></md-progress-linear>
					<md-list flex>
						<md-list-item class="md-2-line" ng-repeat = "account in vm.linkedAccounts track by $index" ng-click="null">
							<div style="margin-right:10px">
								<i class="mdi mdi-36px md-icon-avatar" ng-class="{'mdi-google': account.oauth_provider=='google','mdi-facebook':  account.oauth_provider=='facebook','mdi-microsoft':  account.oauth_provider=='microsoft'}">
									<md-tooltip md-direction="left">Google Chrome</md-tooltip>
								</i>
								<!-- <i class="mdi mdi-firefox mdi-36px md-icon-avatar" ng-if="device.endpoint.includes('mozilla')" ng-class="{'this-device': device.endpoint == main.browserData.endpoint}">
									<md-tooltip md-direction="left">Mozilla Firefox</md-tooltip>
								</i> -->
								<!-- <i class="mdi mdi-apple-safari mdi-36px md-icon-avatar"></i>
								<i class="mdi mdi-internet-explorer mdi-36px md-icon-avatar"></i>
								<i class="mdi mdi-edge mdi-36px md-icon-avatar"></i> -->
							</div>
							<div class="md-list-item-text" flex layout="row">
								<div>
									<h3>{{account.oauth_user}}</h3>
									<p>{{account.oauth_provider}}</p>
								</div>
								<div flex></div>
								<div>
									<h3>{{account.timestamp_unix*1000 | date:'medium'}}</h3>
									<p>Linked</p>
								</div>
								<md-icon class="md-secondary" md-font-set="material-icons" ng-click="vm.showDeviceDelete($event,device)" aria-label="Delete">delete
									<md-tooltip md-direction="top">Unlink Account (any email that matches your profile or team email will always work)</md-tooltip>
								</md-icon>
							</div>
						</md-list-item>
						<div ng-show="main.userInfo.notificationEndpoints.length == 0 && !vm.loadingDevices" layout="row" layout-align="center center">
							<h4>No Devices</h4>
						</div>
					</md-list>
				</md-content>
			</md-tab>
			<md-tab label="Notification Preferences">
				<div flex layout="column" layout-gt-sm="row" style="min-height:100%;">
					<md-content  flex layout="column">
						<h1 class="md-headline" layout="row">
							<span flex></span>
							<span>Notification Devices</span>
							<span flex></span>
						</h1>
						<md-progress-linear md-mode="indeterminate" ng-show="vm.loading.note_devices"></md-progress-linear>
						<md-list>
							<md-list-item class="md-2-line" ng-repeat = "device in vm.notificationEndpoints track by $index" ng-click="null">
								<div style="margin-right:10px">
									<i class="mdi mdi-36px md-icon-avatar" ng-class="{'mdi-google-chrome': device.endpoint.includes('google'),'mdi-firefox': device.endpoint.includes('mozilla'),'this-device': device.endpoint == main.browserData.endpoint}">
										<md-tooltip md-direction="left">Google Chrome</md-tooltip>
									</i>
									<!-- <i class="mdi mdi-apple-safari mdi-36px md-icon-avatar"></i>
									<i class="mdi mdi-internet-explorer mdi-36px md-icon-avatar"></i>
									<i class="mdi mdi-edge mdi-36px md-icon-avatar"></i> -->
								</div>
								<div class="md-list-item-text" flex layout="row">
									<div>
										<p>Device label</p>
										<h3>{{device.label}}</h3>
									</div>
									<div flex></div>
									<div>
										<p>Last Updated</p>
										<h3>{{device.last_updated_unix*1000 | date:'medium'}}</h3>
									</div>
									<md-icon class="md-secondary" md-font-set="material-icons" ng-click="vm.showDeviceEdit($event,device)" aria-label="Edit">mode_edit
										<md-tooltip md-direction="top">Edit</md-tooltip>
									</md-icon>
									<md-icon class="md-secondary" md-font-set="material-icons" ng-click="vm.showDeviceDelete($event,device)" aria-label="Delete">delete
										<md-tooltip md-direction="top">Delete</md-tooltip>
									</md-icon>
								</div>
							</md-list-item>
							<div ng-show="main.userInfo.notificationEndpoints.length == 0 && !vm.loadingDevices" layout="row" layout-align="center center">
								<h4>No Devices</h4>
							</div>
						</md-list>
						<md-button ng-click="vm.subscribePush()" ng-hide="main.enablePush.status">Subscribe this device</md-button>
					</md-content>
					<md-content  flex layout="column">
						<h1 class="md-headline" layout="row">
							<span flex></span>
							<span>Notification Types</span>
							<span flex></span>
						</h1>
						<md-progress-linear md-mode="indeterminate" ng-show="vm.loading.note_types"></md-progress-linear>
						<div class="md-margin">
							<div layout="row" flex  layout-align="start center" ng-repeat="(key,title) in vm.notificationOptions track by $index">
								<span flex="50">{{title}}</span>
								<md-switch ng-model="vm.notificationPreferences.push[key]" class="md-warn" flex ng-change="vm.updateNotePrefs('push',key,vm.notificationPreferences.push[key])">
									Push
								</md-switch>
								<md-switch ng-model="vm.notificationPreferences.email[key]" class="md-warn" flex ng-change="vm.updateNotePrefs('email',key,vm.notificationPreferences.email[key])">
									Email
								</md-switch>
							</div>
						</div>
					</md-content>
				</div>
			</md-tab>
			<md-tab label="Time Information">
				<md-content  flex layout="column">
					<h1 class="md-headline" flex layout="row">
						<span flex></span>
						<span>Time Information</span>
						<span flex></span>
					</h1>
					<div flex layout="column" layout-gt-sm="row">
						<md-card flex>
							<form ng-submit="vm.checkPin()" name="vm.checkPinForm">
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">Check PIN</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-content>
									<md-input-container flex class="md-icon-float md-icon-right md-block">
										<label>Check PIN</label>
										<input ng-model="vm.checkPinNum" name="checkPinNum"  type="text" pattern="[0-9]*" required/>
										<!-- <md-icon class="material-icons">help</md-icon> -->
										<!-- <div class="hint"></div> -->
									</md-input-container>
									<div>
										{{vm.checkPinMsg}}
									</div>
								</md-card-content>
								<md-card-actions layout="row" layout-align="end center">
									<md-button type="submit">Check</md-button>
								</md-card-actions>
							</form>
						</md-card>
						<md-card flex>
							<form ng-submit="vm.changePin()"  name="vm.changePinForm">
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">Change PIN</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-content>
									<md-input-container flex class="md-icon-float md-icon-right md-block">
										<label>Change PIN</label>
										<input ng-model="vm.changePinNum" name="changePinNum" type="text" pattern="[0-9]{4,8}" md-maxlength="8" required/>
										<md-icon class="material-icons">help</md-icon>
										<div class="hint">4 to 8 digits.  Numbers ONLY!</div>
									<!--	<div ng-messages="vm.changePinForm.changePinNum.$error" role="alert" multiple>
											<div ng-message="required" class="my-message">PIN cannot be blank</div>
											<div ng-message="pattern" class="my-message">The PIN must be 4-8 numbers only</div>
											<div ng-message="md-maxlength" class="my-message">The PIN cannot be greater than 8 numbers long.</div>
										</div> -->
									</md-input-container>
									<div>
										{{vm.changePinMsg}}
									</div>
								</md-card-content>
								<md-card-actions layout="row" layout-align="end center">
									<md-button type="submit" ng-disabled="!vm.changePinForm.$valid">Submit</md-button>
								</md-card-actions>
							</form>
						</md-card>
					</div>
					<div flex layout="column" layout-gt-sm="row">
						<md-card flex>
							<form ng-submit="vm.requestMissingHours()" name="vm.rmhForm">
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">Request Lost Hours</span>
									</md-card-title-text>
								</md-card-title>
								<md-card-content layout="column">
									<div flex layout="row">
										<md-input-container flex class="md-icon-float md-icon-left md-block">
											<label>Start Time</label>
											<md-icon md-font-library="material-icons">today</md-icon>
											<input moment-picker="vm.rmhData.start_time" required
												 format="LLL"
												 min-view="year"
												 max-view="minute"
												 today="true"
												 ng-model="vm.rmhData.start_time_full">
											</input>
										</md-input-container>
										<md-input-container flex class="md-icon-float md-icon-left md-block">
											<label>End Time</label>
											<md-icon md-font-library="material-icons">today</md-icon>
											<input moment-picker="vm.rmhData.end_time" required
												 format="LLL"
												 min-view="year"
												 max-view="minute"
												 min-date="vm.rmhData.start_time_full"
												 today="true"
												 ng-model="vm.rmhData.end_time_full">
											</input>
										</md-input-container>
									</div>
									<div flex>
										<md-input-container flex class="md-icon-float md-icon-left md-block">
											<label>Comment</label>
											<md-icon md-font-library="material-icons">comment</md-icon>
											<textarea ng-model="vm.rmhData.comment"  md-maxlength="200" required>
											</textarea>
										</md-input-container>
									</div>
									<div flex>
										{{vm.rmhMsg}}
									</div>
								</md-card-content>
								<md-card-actions layout="row" layout-align="end center">
									<md-button type="submit" ng-disabled="!vm.rmhForm.$valid">Submit</md-button>
								</md-card-actions>
							</form>
						</md-card>
						<div flex></div>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
