<div flex layout-gt-sm="row" layout="column">
	<md-content flex flex-gt-sm="50" flex-gt-md="33" layout="column" class="md-margin">
		<h1 class="md-headline" layout="row" layout-align="start center">
			<md-button class="md-icon-button" ui-sref="main.admin.users" ng-click="admin.clickBack()">
				<md-tooltip md-direction="top">Go Back to User List</md-tooltip>
				<i class="material-icons">arrow_back</i>
			</md-button>
			<span flex>User Information</span>
			<md-button class="md-icon-button md-warn" ng-click="vm.deleteUser()">
				<md-tooltip md-direction="top">Delete User</md-tooltip>
				<i class="material-icons">delete_forever</i>
			</md-button>
		</h1>
		<md-progress-linear md-mode="indeterminate" ng-show="vm.loadingUser"></md-progress-linear>
		<form class="md-margin" flex layout="column" ng-submit="vm.updateUser()">
			<md-input-container>
				<label>First Name</label>
				<input ng-model="vm.userInfo.fname" required>
			</md-input-container>
			<md-input-container>
				<label>Last Name</label>
				<input ng-model="vm.userInfo.lname" required>
			</md-input-container>
			<md-input-container>
				<label>Alt Email</label>
				<input ng-model="vm.userInfo.email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]+$" required>
			</md-input-container>
			<md-input-container>
				<label>Team Email <span ng-if="main.configItems.team_domain != ''">(@{{main.configItems.team_domain}})</span></label>
				<input ng-model="vm.userInfo.team_email" type="email" ng-pattern="main.configItems.team_domain != '' ? '[a-z0-9._%+-]+@{{main.configItems.team_domain}}' : '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$'">
			</md-input-container>
			<div layout="row">
				<md-input-container flex>
					<label>Phone</label>
					<input ng-model="vm.userInfo.phone" phone-input type='text' required/>
				</md-input-container>
				<md-input-container flex>
					<label>Slack User</label>
					<input ng-model="vm.userInfo.slack_id" type='text' readonly disabled/>
				</md-input-container>
			</div>
			<div layout="row">
			<md-input-container flex>
				<label>User Type</label>
				<md-select ng-model="vm.userInfo.user_type" required>
					<md-option ng-value="'Student'">Student</md-option>
					<md-option ng-value="'Mentor'">Mentor</md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex>
				<label>Gender</label>
				<md-select ng-model="vm.userInfo.gender" required>
					<md-option value=""><em>Not Set</em></md-option>
					<md-option value="Male">Male</md-option>
					<md-option value="Female">Female</md-option>
				</md-select>
			</md-input-container>
			</div>
			<div layout="row" ng-show="vm.userInfo.user_type=='Student'">
				<md-autocomplete flex ng-required="vm.userInfo.user_type=='Student'"  ng-disabled="vm.userInfo.user_type!='Student'"
					md-input-name="autocompleteField"
					md-no-cache="false"
					md-selected-item="vm.userInfo.school"
					md-search-text="vm.searchText"
					md-items="item in vm.querySearch(vm.searchText)"
					md-item-text="item.school_name"
					md-floating-label="School Name">
					<md-item-template>
						<span md-highlight-text="vm.searchText">{{item.school_name}}</span>
					</md-item-template>
				</md-autocomplete>
				<md-input-container flex="33">
					<label>Graduation Year</label>
					<input ng-model="vm.userInfo.grad_year" ng-required="vm.userInfo.user_type=='Student'" ng-disabled="vm.userInfo.user_type!='Student'"/>
				</md-input-container>
			</div>
			<div layout="row" flex  layout-align="start center">
				<md-switch ng-model="vm.userInfo.admin" class="md-warn" flex>
					Admin
				</md-switch>
				<md-switch ng-model="vm.userInfo.status" class="md-warn" flex>
					Status
				</md-switch>
			</div>
			<div flex layout="row">
				<span flex></span>
				<md-button type="submit" class="md-raised md-primary">
					Submit
				</md-button>
			</div>
		</form>
	</md-content>
	<md-content flex="grow" class="md-margin" layout="column">
		<div flex layout="column">
			<div class="md-toolbar-tools">
				<span>Season Information</span>
				<div flex></div>
				<md-button class="md-icon-button" ng-click="vm.getUserAnnualRequirements()">
					<md-icon>refresh</md-icon>
				</md-button>
			</div>
			<md-table-container>
				<table md-table md-progress="vm.loadingReqs">
					<thead md-head md-order="vm.query.order">
						<tr md-row>
							<th md-column md-order-by="year"><span>Season</span></th>
							<th md-column md-order-by="annual_requirements.join_team"><span>Join Team</span></th>
							<th md-column md-order-by="annual_requirements.stims"><span>STIMS/TIMS</span></th>
							<th md-column md-order-by="annual_requirements.dues"><span>Pay Dues</span></th>
							<th md-column md-order-by="annual_requirements.build_season_hours"><span>Build Season Hours</span></th>
							<th md-column md-order-by="annual_requirements.competition_season_hours"><span>Competition Season Hours</span></th>
							<th md-column md-order-by="annual_requirements.off_season_hours"><span>Off Season Hours</span></th>
							<th md-column md-order-by="annual_requirements.total_hours"><span>Total Annual Hours</span></th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="season in vm.seasonInfo | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
							<td md-cell>
								<md-list-item style="padding: 0px;">
									<img ng-src="{{season.game_logo}}" class="md-avatar" alt="" ng-if="season.game_logo"/>
									{{season.year}} - {{season.game_name}}
								</md-list-item>
							</td>
							<td md-cell>
								<md-icon class="material-icons" style="color:green;" ng-show="season.annual_requirements.join_team">check_circle</md-icon>
								<md-icon class="material-icons" style="color:red;" ng-hide="season.annual_requirements.join_team">remove_circle</md-icon>
							</td>
							<td md-cell>
								<md-icon class="material-icons" style="color:green;" ng-show="season.annual_requirements.stims">check_circle</md-icon>
								<md-icon class="material-icons" style="color:red;" ng-hide="season.annual_requirements.stims">remove_circle</md-icon>
							</td>
							<td md-cell>
								<span ng-hide="vm.userInfo.user_type == 'Mentor'">
									<md-icon class="material-icons" style="color:green;" ng-show="season.annual_requirements.dues">check_circle</md-icon>
									<md-icon class="material-icons" style="color:red;" ng-hide="season.annual_requirements.dues">remove_circle</md-icon>
								</span>
								<md-icon class="material-icons" ng-hide="vm.userInfo.user_type == 'Student'">indeterminate_check_box</md-icon>
							</td>
							<td md-cell>
								{{season.annual_requirements.build_season_hours}}
							</td>
							<td md-cell>
								{{season.annual_requirements.competition_season_hours}}
							</td>
							<td md-cell>
								{{season.annual_requirements.off_season_hours}}
							</td>
							<td md-cell>
								<md-button ng-click="vm.showSeasonHoursGraph($event,season.year)"><md-tooltip>Click to see graph Hours/Day</md-tooltip>{{season.annual_requirements.total_hours}}</md-button>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.seasonInfo.length}}" md-page-select md-boundary-links></md-table-pagination>
		</div>
	<!--	<div>
			<pre>{{vm.seasonInfo | orderBy: '-year' | json}}
		</div> -->
	</md-content>
</div>
