
	<md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show">
		<div class="md-toolbar-tools">
			<span>Schools</span>
			<div flex></div>
			<md-button class="md-icon-button" ng-click="vm.showFilter()">
				<md-icon>filter_list</md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="vm.getSchools()">
				<md-icon>refresh</md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="vm.newSeasonModal()">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show">
		<div class="md-toolbar-tools">
			<md-icon class="material-icons">search</md-icon>
			<form flex name="filter.form" >
				<input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search" class="" aria-invalid="false">
			</form>
			<md-button class="md-icon-button" ng-click="vm.removeFilter()">
				<md-icon class="material-icons">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-table-container>
		<table md-table ng-model="selected" md-progress="vm.promise">
			<thead md-head md-order="vm.query.order" md-on-reorder="vm.getSchools">
				<tr md-row>
					<th md-column style="width:56px"></th>
					<th md-column md-order-by="school_name"><span>School Name</span></th>
					<th md-column md-order-by="abv"><span>Abreviation</span></th>
					<th md-column md-order-by="student_count"><span># of Students</span></th>
					<th md-column style="width: 150px;"></th>
				</tr>
			</thead>
			<tbody md-body> <!-- | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit -->
				<tr md-row ng-repeat="school in vm.schools">
					<td md-cell>
						<md-list-item style="padding: 0px;">
							<img ng-src="{{school.logo_url}}" class="md-avatar" alt="" ng-if="school.logo_url"/>
						</md-list-item></td>
					<td md-cell>{{school.school_name}}</td>
					<td md-cell>{{school.abv}}</td>
					<td md-cell>{{school.student_count}}</td>
					<td md-cell>
						<md-button class="md-icon-button" ui-sref="main.admin.school({'school_id':school.school_id})" ng-click="admin.slideLeft()">
							<md-icon>open_in_new</md-icon>
						</md-button>
						<md-button class="md-icon-button" ng-click="">
							<md-icon>delete_forever</md-icon>
						</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>

<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.total}}" md-page-select md-boundary-links md-on-paginate="vm.getSchools"></md-table-pagination>
