<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="row" layout-align="start center">
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Start Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.start_date1" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="2015"
						 max-date="vm.end_date1"
						 change="vm.reportsAvgHrsPerPersonPerYear()"
						 ng-model="vm.start_date1_full">
					</input>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>End Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.end_date1" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="vm.start_date1"
						 change="vm.reportsAvgHrsPerPersonPerYear();"
						 ng-model="vm.end_date1_full">
					</input>
				</md-input-container>
			</div>
			<div>
				<md-button type="button" class="" ng-csv="vm.csvData.data" csv-header="vm.csvData.header" filename="test.csv">Export</md-button>
			</div>
		</div>
		<div layout="column">
			<div>Hours per Person</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
	<div flex layout="column" class="md-margin">
		<div layout="row" layout-align="start center">
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Start Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.start_date2" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="2015"
						 max-date="vm.end_date2"
						 change="vm.reportsAvgHrsPerUserTypePerYear();"
						 ng-model="vm.start_date2_full">
					</input>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>End Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.end_date2" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="vm.start_date2"
						 change="vm.reportsAvgHrsPerUserTypePerYear();"
						 ng-model="vm.end_date2_full">
					</input>
				</md-input-container>
			</div>
			<div>
				<md-button type="button" class="" ng-csv="vm.csvData2.data" csv-header="vm.csvData2.header" filename="test.csv">Export</md-button>
			</div>
		</div>
		<div layout="column">
			<div>Hours per Person Per User Type</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data2" chart-labels="vm.labels2" chart-series="vm.series2" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
</md-content>
<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="row" layout-align="start center">
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Start Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.start_date3" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="2015"
						 max-date="vm.end_date3"
						 change="vm.reportsActiveUsersPerYear();"
						 ng-model="vm.start_date3_full">
					</input>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>End Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.end_date3" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="vm.start_date3"
						 change="vm.reportsActiveUsersPerYear();"
						 ng-model="vm.end_date3_full">
					</input>
				</md-input-container>
			</div>
		</div>
		<div layout="column">
			<div># of Active Members</div>  <!-- chart-dataset-override="vm.datasetOverride3"  -->
			<canvas id="line" class="chart chart-bar" chart-dataset-override="vm.datasetOverride3" chart-data="vm.data3" chart-labels="vm.labels3" chart-series="vm.series3" chart-click="" chart-options="vm.stackedOptions"></canvas>
		</div>
	</div>
	<div flex layout="column" class="md-margin">
		<div layout="row" layout-align="start center">
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Start Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.start_date7" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="2015"
						 max-date="vm.end_date7"
						 change="vm.reportsHoursPerGradePerYear();"
						 ng-model="vm.start_date7_full">
					</input>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>End Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.end_date7" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="vm.start_date7"
						 change="vm.reportsHoursPerGradePerYear();"
						 ng-model="vm.end_date7_full">
					</input>
				</md-input-container>
			</div>
		</div>
		<div layout="column">
			<div>Hours per Grade</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data7" chart-labels="vm.labels7" chart-series="vm.series7" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
</md-content>
<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="row" layout-align="start center">
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Start Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.start_date5" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="2015"
						 max-date="vm.end_date5"
						 change="vm.reportsAvgHrsPerGenderPerYear()"
						 ng-model="vm.start_date5_full">
					</input>
				</md-input-container>
			</div>
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>End Date</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.end_date5" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="vm.start_date5"
						 change="vm.reportsAvgHrsPerGenderPerYear();"
						 ng-model="vm.end_date5_full">
					</input>
				</md-input-container>
			</div>
		</div>
		<div layout="column">
			<div>Hours per Gender</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data5" chart-labels="vm.labels5" chart-series="vm.series5" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
	<div flex layout="column" class="md-margin">
		<div layout="row" layout-align="start center">
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Year</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.year6" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="2015"
						 change="vm.reportsHoursPerWeek();"
						 ng-model="vm.year6_full">
					</input>
				</md-input-container>
			</div>
		</div>
		<div layout="column">
			<div>Hours per Week</div> <!-- chart-dataset-override="vm.datasetOverride3"  -->
			<canvas id="line" class="chart chart-line" chart-data="vm.data6" chart-labels="vm.labels6" chart-series="vm.series6" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
</md-content>
<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="row" layout-align="start center">
			<div flex>
				<md-input-container flex class="md-icon-float md-block">
					<label>Year</label>
					<md-icon md-font-library="material-icons">today</md-icon>
					<input moment-picker="vm.year4" required
						 format="YYYY"
						 min-view="decade"
						 max-view="decade"
						 min-date="2015"
						 change="vm.reportsHoursPerEventPerYear();"
						 ng-model="vm.year4_full">
					</input>
				</md-input-container>
			</div>
		</div>
		<div layout="column">
			<div>Hours per Event</div> <!-- chart-dataset-override="vm.datasetOverride3"  -->
			<canvas id="line" class="chart chart-bar" chart-data="vm.data4" chart-labels="vm.labels4" chart-series="vm.series4" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
</md-content>
