<div flex layout-gt-sm="row" layout-gt-md="row" layout="column">
	<md-content flex flex-gt-sm="50" flex-gt-md="20" layout="column" class="md-margin">
		<md-toolbar class="md-default md-table-toolbar">
			<div class="md-toolbar-tools">
				<span>Settings</span>
				<div flex></div>
			</div>
		</md-toolbar>
		<md-progress-linear md-mode="indeterminate" ng-show="vm.loadingUser"></md-progress-linear>
		<md-list>
			<md-list-item class="md-1-line" ng-click="vm.selectSettingMenu('team')" ng-class="{'activeSelect': vm.currentMenu == 'team'}">
		    <p>Team Settings</p>
		  </md-list-item>
			<md-list-item class="md-1-line" ng-click="vm.selectSettingMenu('login')" ng-class="{'activeSelect': vm.currentMenu == 'login'}">
		    <p>Login Settings</p>
		  </md-list-item>
			<md-list-item class="md-1-line" ng-click="vm.selectSettingMenu('notification')" ng-class="{'activeSelect': vm.currentMenu == 'notification'}">
		    <p>Notification Settings</p>
		  </md-list-item>
		</md-list>
	</md-content>
	<md-content flex="grow" class="md-margin" layout="column">
		<md-toolbar class="md-default md-table-toolbar">
			<div class="md-toolbar-tools">
				<span>Settings</span>
				<div flex></div>
			</div>
		</md-toolbar>
		<div layout="column" ng-show="vm.currentMenu == 'team';" class="layout-padding">
			<md-input-container flex required>
				<label>Team Number</label>
				<input ng-model="vm.settings.team_number">
			</md-input-container>
			<md-input-container flex required>
				<label>Team Name</label>
				<input ng-model="vm.settings.team_name">
			</md-input-container>
			<md-input-container flex required>
				<label>Site URL</label>
				<input ng-model="vm.settings.env_url">
			</md-input-container>
		</div>
		<div layout="column" ng-show="vm.currentMenu == 'login';" class="layout-padding">
			<md-input-container flex>
				<label>Google OAuth2 Client ID</label>
				<input ng-model="vm.settings.google_oauth_client_id">
			</md-input-container>
			<md-input-container flex>
				<label>Google OAuth2 Client Secret</label>
				<input ng-model="vm.settings.google_oauth_client_secret">
			</md-input-container>
			<md-input-container flex>
				<label>Facebook OAuth2 Client ID</label>
				<input ng-model="vm.settings.facebook_oauth_client_id">
			</md-input-container>
			<md-input-container flex>
				<label>Facebook OAuth2 Client Secret</label>
				<input ng-model="vm.settings.facebook_oauth_client_secret">
			</md-input-container>
			<md-input-container flex>
				<label>Microsoft Live OAuth2 Client ID</label>
				<input ng-model="vm.settings.microsoft_oauth_client_id">
			</md-input-container>
			<md-input-container flex>
				<label>Microsoft Live OAuth2 Client Secret</label>
				<input ng-model="vm.settings.microsoft_oauth_client_secret">
			</md-input-container>
			<md-input-container flex required>
				<label>JSON Web Token Secret Key</label>
				<input ng-model="vm.settings.jwt_key">
			</md-input-container>
			<md-input-container flex required>
				<label>JSON Web Token Time Secret Key</label>
				<input ng-model="vm.settings.jwt_signin_key">
			</md-input-container>
		</div>
		<div layout="column" ng-show="vm.currentMenu == 'notification'" class="layout-padding">
			<md-switch md-invert aria-label="Enable Slack Notifications" ng-model="vm.settings.enable_slack">
				Enable Slack Notifications
			</md-switch>
			<md-input-container flex>
				<label>Slack Team ID</label>
				<input ng-model="vm.settings.slack_team_id" ng-disabled="!vm.settings.enable_slack">
			</md-input-container>
			<md-input-container flex>
				<label>Slack API Token</label>
				<input ng-model="vm.settings.slack_api_token" ng-disabled="!vm.settings.enable_slack">
			</md-input-container>
				<md-switch md-invert aria-label="Enable Slack Notifications" ng-model="vm.settings.enable_email">
					Enable Email Notifications
				</md-switch>
			<md-input-container flex>
				<label>Site Email</label>
				<input ng-model="vm.settings.notification_email" ng-disabled="!vm.settings.enable_email">
			</md-input-container>
		</div>
	</md-content>
</div>
