<div flex layout-gt-sm="row" layout="column">
	<md-content flex flex-gt-sm="50" flex-gt-md="33" layout="column" class="md-margin">
		<h1 class="md-headline" layout="row" layout-align="start center">
			<md-button class="md-icon-button" ui-sref="main.admin.seasons" ng-click="admin.clickBack()">
				<md-tooltip md-direction="top">Go Back to Season List</md-tooltip>
				<i class="material-icons">arrow_back</i>
			</md-button>
			<span flex>Season Information</span>
			<md-button class="md-icon-button md-warn" ng-click="vm.deleteSeason()">
				<md-tooltip md-direction="top">Delete Season</md-tooltip>
				<i class="material-icons">delete_forever</i>
			</md-button>
		</h1>
		<md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
		<form class="md-margin" flex ng-submit="vm.updateSeason()">
			<md-input-container flex class="md-icon-float md-block">
				<label>Year</label>
				<md-icon md-font-library="material-icons">today</md-icon>
				<input ng-model="vm.season.year" required readonly>
				</input>
			</md-input-container>
			<md-input-container flex class="md-icon-float md-block">
				<label>Game Name</label>
				<md-icon md-font-library="material-icons">description</md-icon>
				<input ng-model="vm.season.game_name" required>
			</md-input-container>
			<md-input-container flex class="md-icon-float md-block">
				<label>Start Date</label>
				<md-icon md-font-library="material-icons">today</md-icon>
				<input moment-picker="vm.season.start_date_formatted" required
					 format="LL"
					 min-view="year"
					 max-view="day"
					 start-view="day"
					 ng-model="vm.season.start_date_full">
				</input>
			</md-input-container>
			<md-input-container flex class="md-icon-float md-block">
				<label>Bag Date</label>
				<md-icon md-font-library="material-icons">today</md-icon>
				<input moment-picker="vm.season.bag_day_formatted" required
					 format="LL"
					 min-view="year"
					 max-view="day"
					 start-view="day"
					 ng-model="vm.season.bag_day_full">
				</input>
			</md-input-container>
			<md-input-container flex class="md-icon-float md-block">
				<label>End Date</label>
				<md-icon md-font-library="material-icons">today</md-icon>
				<input moment-picker="vm.season.end_date_formatted" required
					 format="LL"
					 min-view="year"
					 max-view="day"
					 start-view="day"
					 ng-model="vm.season.end_date_full">
				</input>
			</md-input-container>
			<md-input-container flex class="md-icon-float md-block">
				<label>Min Hour Requirement </label>
				<md-icon md-font-library="material-icons">access_time</md-icon>
				<input ng-model="vm.season.hour_requirement" type="number" min="0" required>
			</md-input-container>
			<div flex layout="row" layout-align="start center">
				<md-input-container flex class="md-icon-float md-block md-icon-left">
					<label>Google Sheets Membership Form Responses </label>
					<md-icon md-font-library="material-icons">insert_drive_file</md-icon>
					<input ng-model="vm.season.join_spreadsheet" type="text" readonly>
				</md-input-container>
				<md-button class="md-icon-button" ng-click="vm.updateSeasonMembershipForm()">
					<md-tooltip md-direction="top">Find form within Google Drive</md-tooltip>
						<md-icon md-font-library="material-icons">create_new_folder</md-icon>
				</md-button>
			</div>
			<md-input-container flex class="md-icon-float md-block">
				<label>Game Logo URL</label>
				<md-icon md-font-library="material-icons">photo</md-icon>
				<input ng-model="vm.season.game_logo">
			</md-input-container>
			<img ng-src="{{vm.season.game_logo}}" class="md-avatar" alt="" ng-if="vm.season.game_logo" style="max-width: 100%; max-height: 200px;"/>
			<div flex layout="row">
				<span flex></span>
				<md-button type="submit" class="md-raised md-primary">
					Submit
				</md-button>
			</div>
		</form>
	</md-content>
	<md-content flex="grow" class="md-margin" layout="column">
		<div flex layout="column">
			<md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show">
				<div class="md-toolbar-tools">
					<span>Season Requirements</span>
					<div flex></div>
					<md-button class="md-icon-button" ng-click="vm.showFilter()">
						<md-icon>filter_list</md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-click="vm.getUserAnnualRequirements()">
						<md-icon>refresh</md-icon>
					</md-button>
					<md-menu>
						<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
							<md-icon md-menu-origin>menu</md-icon>
						</md-button>
						<md-menu-content>
							<md-menu-item>
								<md-button aria-label="Join Team Toggle" ng-click="vm.toggleAnnualReqs('join_team')">
									<md-icon class="material-icons">group</md-icon>
									<md-tooltip md-direction="left" md-autohide="false">Toggle Team Join Status</md-tooltip>
									Toggle Team Join
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</md-toolbar>
			<md-toolbar class="md-table-toolbar md-default" ng-show="vm.filter.show">
				<div class="md-toolbar-tools">
					<md-icon class="material-icons">search</md-icon>
					<form flex name="filter.form" >
						<input type="text" ng-model="vm.query.filter" placeholder="search" class="" aria-invalid="false">
					</form>
					<md-button class="md-icon-button" ng-click="vm.removeFilter()">
						<md-icon class="material-icons">close</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-table-container>
				<table md-table md-row-select multiple ng-model="vm.selectedUsers" md-progress="vm.promise">
					<thead md-head md-order="vm.query.order">
						<tr md-row>
							<th md-column md-order-by="full_name"><span>Name</span></th>
							<th md-column md-order-by="join_team"><span>Join Team</span></th>
							<th md-column md-order-by="stims"><span>STIMS/TIMS</span></th>
							<th md-column md-order-by="dues"><span>Pay Dues</span></th>
							<th md-column md-order-by="build_season_hours" style="text-align: left;"><span>Build Season Hours</span></th>
							<th md-column md-order-by="reqs_complete"><span>Requirements Complete</span></th><!--
							<th md-column md-order-by="off_season_hours"><span>Off Season Hours</span></th>
							<th md-column md-order-by="total"><span>Total Hours</span></th>				 -->
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-select="user" md-select-id="user_id" md-auto-select  ng-repeat="user in vm.users | filter: vm.query.filter | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit as filtered">
							<td md-cell>
								<md-list-item style="padding: 0px;">
									{{user.full_name}}
								</md-list-item>
							</td>
							<td md-cell>
								<i class="material-icons" style="color:green;" ng-show="user.annual_requirements[0].join_team">check_circle</i>
								<i class="material-icons" style="color:red;" ng-hide="user.annual_requirements[0].join_team">remove_circle</i>
							</td>
							<td md-cell>
								<i class="material-icons" style="color:green;" ng-show="user.annual_requirements[0].stims">check_circle</i>
								<i class="material-icons" style="color:red;" ng-hide="user.annual_requirements[0].stims">remove_circle</i>
							</td>
							<td md-cell>
								<span ng-hide="user.user_type == 'Mentor'">
									<i class="material-icons" style="color:green;" ng-show="user.annual_requirements[0].dues">check_circle</i>
									<i class="material-icons" style="color:red;" ng-hide="user.annual_requirements[0].dues">remove_circle</i>
								</span>
								<md-icon class="material-icons" ng-hide="user.user_type == 'Student'">remove_circle_outline</md-icon>
							</td>
							<td md-cell  style="text-align: left;">
								<i class="material-icons" style="color:green;" ng-show="user.annual_requirements[0].min_hours">check_circle</i>
								<i class="material-icons" style="color:red;" ng-hide="user.annual_requirements[0].min_hours">remove_circle</i>
								<span ng-show="user.annual_requirements[0].build_season_hours">{{user.annual_requirements[0].build_season_hours}}</span>
								<span ng-hide="user.annual_requirements[0].build_season_hours">0</span>
							</td>
							<td md-cell>
								<i class="material-icons" style="color:green;" ng-show="user.annual_requirements[0].reqs_complete">check_circle</i>
								<i class="material-icons" style="color:red;" ng-hide="user.annual_requirements[0].reqs_complete">remove_circle</i>
							</td>
							<!-- <td md-cell>
								{{user.off_season_hours}}
							</td>
							<td md-cell>
								<md-button ng-click="vm.seasonHoursGraph(user.year)"><md-tooltip>Click to see graph Hours/Day</md-tooltip>{{user.total}}</md-button>
							</td> -->
						</tr>
					</tbody>
				</table>
				<md-table-pagination md-limit="vm.query.limit" md-limit-options="vm.limitOptions" md-page="vm.query.page" md-total="{{(vm.users | filter: vm.query.filter).length}}" md-page-select md-boundary-links></md-table-pagination>
			</md-table-container>
			<!--<md-fab-speed-dial md-open="vm.fabOpen" md-direction="up" class="md-scale md-fab-bottom-right">
				<md-fab-trigger>
					<md-button aria-label="menu" class="md-fab md-warn">
						<md-icon class="material-icons">menu</md-icon>
					</md-button>
				</md-fab-trigger>
				<md-fab-actions>
					<md-button aria-label="Join Team Toggle" class="md-fab md-raised md-mini" ng-click="vm.toggleAnnualReqs('join_team')">
						<md-tooltip md-direction="left" md-autohide="false">Toggle Team Join Status</md-tooltip>
						<md-icon class="material-icons">group</md-icon>
					</md-button>
					<md-button aria-label="STIMS/TIMS" class="md-fab md-raised md-mini" ng-click="vm.toggleAnnualReqs('stims')">
						<md-tooltip md-direction="left" md-autohide="false">Toggle STIMS/TIMS Status</md-tooltip>
						<md-icon class="material-icons">assignment</md-icon>
					</md-button>
					<md-button aria-label="Dues" class="md-fab md-raised md-mini" ng-click="vm.toggleAnnualReqs('dues')">
						<md-tooltip md-direction="left" md-autohide="false">Toggle Dues Status</md-tooltip>
						<md-icon class="material-icons">attach_money</md-icon>
					</md-button>
				</md-fab-actions>
			</md-fab-speed-dial>-->
		</div>
	</md-content>
</div>
