<div flex layout="column" class="md-padding" layout-align="center center">
	<div layout="row" layout-align="center center" style="width:100%">
		<div layout="column" flex-gt-md="60" flex layout-align="center center" style="background:white;padding: 45px 25px;">
			<!--Counter-->
			<div id="countdown" class="countdown font-pink mb-25">
				<timer end-time="vm.event.event_start_unix*1000">{{days}} day{{daysS}} : {{hours}} hour{{hoursS}} : {{minutes}} minute{{minutesS}} : {{seconds}} second{{secondsS}}</timer>
			</div>
			<!--Counter-->
			<div style="text-align: center;">
				<h1>{{vm.event.name}}</h1>
			</div>
			<div>
				<h5 class="mt-20">
					<span ng-show="vm.event.single_day">
						<md-icon class="material-icons">today</md-icon> {{vm.event.event_start_unix*1000 | date:'longDate'}} {{vm.event.event_start_unix*1000 | date:'h:mm a'}} - {{vm.event.event_end_unix*1000 | date:'h:mm a'}}
					</span>
					<span ng-hide="vm.event.single_day">
						<md-icon class="material-icons">today</md-icon> {{vm.event.event_start_unix*1000 | date:'MMMM d'}} - {{vm.event.event_end_unix*1000 | date:'d, y'}}
					</span>
				</h5>
			</div>
			<div>
				<h5 class="mt-20">
					{{vm.event.location}}
				</h5>
			</div>
			<div flex layout="row" layout-align="center center">
				<!--<button class="md-button md-raised md-primary" ng-click="vm.registerForEvent()">Register Now</button>-->
				<button class="md-button md-raised md-primary" ng-click="vm.showRegistrationForm($event)" ng-show="main.isAuthed">Register Now</button>
				<span ng-show="!main.isAuthed">Please sign in to register for event.</span>
			</div>
		</div>
	</div>
	<div layout="row" layout-align="center center" style="width:100%">
		<div layout="column" flex-gt-md="60" flex>
			<h2 class="mb-30">About the event</h2>
			<md-content class="md-padding" layout="column">
				<div layout="row">
					<div ng-bind-html="vm.event.details | linky:'_blank'" style="white-space: pre-wrap;"></div>
				</div>
				<div layout="row" style="margin-top:40px;">
					<div layout="column" flex="20" layout-align="start start" ng-show="vm.event.payment_required">
						<div><md-icon class="material-icons" style="font-size:35px;">attach_money</md-icon></div>
						<div><h4>Payment Required</h4></div>
						<div></div>
					</div>
					<div layout="column" flex="20" layout-align="start start" ng-show="vm.event.permission_slip_required">
						<div><md-icon class="material-icons" style="font-size:35px;">assignment</md-icon></div>
						<div><h4>Permission Slip Required</h4></div>
						<div></div>
					</div>
					<div layout="column" flex="20" layout-align="start start" ng-show="vm.event.food_required">
						<div><md-icon class="material-icons" style="font-size:35px;">local_dining</md-icon></div>
						<div><h4>Food Orders Required</h4></div>
						<div></div>
					</div>
					<div layout="column" flex="20" layout-align="start start" ng-show="vm.event.drivers_required">
						<div><md-icon class="material-icons" style="font-size:35px;">directions_car</md-icon></div>
						<div><h4>Drivers Required</h4></div>
						<div></div>
					</div>
					<div layout="column" flex="20" layout-align="start start" ng-show="vm.event.room_required">
						<div><md-icon class="material-icons" style="font-size:35px;">hotel</md-icon></div>
						<div><h4>Hotel Rooms Required</h4></div>
						<div></div>
					</div>
				</div>
			</md-content>
		</div>
	</div>
	<div layout="row" layout-align="center center" style="width:100%;">
		<div layout="column" flex-gt-md="60" flex>
			<h2 class="mb-30">POC & Venue</h2>
			<div layout-gt-sm="row" style="width:100%;" layout-align-gt-sm="start stretch">
				<md-content layout="column" layout-align="start start" class="md-padding" flex style="margin-right:15px">
					<div>{{vm.event.pocInfo.full_name}}</div>
					<div><a ng-href="mailto:{{vm.event.pocInfo.email}}" target="_blank">{{vm.event.pocInfo.email}}</div>
					<div ng-show="vm.event.pocInfo.slackEnabled">
						<a ng-href="slack://user?team=T0AP1HT4G&id={{vm.event.pocInfo.slack_id}}">Slack App</a><br/>
						<a ng-href="https://triple-helix.slack.com/messages/{{vm.event.pocInfo.slack_id}}" target="_blank">Slack Web</a>
					</div>
				</md-content>
			 	<div flex style="margin-left:15px">
					 <div flex layout="row" map-lazy-load="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyBBVrU13yHk75Youk6NQbP86QXdfrPwmtk" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBVrU13yHk75Youk6NQbP86QXdfrPwmtk">
	 				    <ng-map zoom="16" style="width:100%" center="{{vm.event.location}}">
	 				      <marker position="{{vm.event.location}}"
	 				       title="You are here"
	 				       centered="true"></marker>
	 				     </ng-map>
	 				 </div>
			 	</div>
			</div>
		</div>
	</div>
</div>
