<md-dialog aria-label="New School" style="" layout="column" flex="50" >
	<form ng-cloak layout="column" flex layout-fill ng-submit="vm.submitForm()">
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
				<h2><span ng-show="vm.new">New</span><span ng-hide="vm.new">Edit</span> School</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
				  <md-icon class=""> close </md-icon>
				</md-button>
	  	</div>
		</md-toolbar>
		<md-dialog-content layout="column" layout-margin>
			<div layout="column" layout-gt-xs="row">
				<md-input-container flex>
					<label>School Name</label>
					<input ng-model="vm.data.school_name" required>
				</md-input-container>
				<md-input-container flex>
					<label>Abbreviation</label>
					<input ng-model="vm.data.abv" required>
				</md-input-container>
				<div layout="column" layout-gt-xs="row">
					<md-input-container flex>
						<label>School Logo URL</label>
						<input ng-model="vm.data.logo_url" type="url">
					</md-input-container>
				</div>
			</div>
			<div layout="column" layout-gt-xs="row">
			</div>
			<!-- <pre>{{vm.userInfo | json}}</pre> -->
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button type="submit">
				Submit
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
