<md-content layout="column" layout-gt-sm="row" flex>
	<div layout="row" layout-align="start center" flex class="md-margin">
		<div flex>
			<md-input-container flex class="md-icon-float md-block">
				<label>Start Date</label>
				<md-icon md-font-library="material-icons">today</md-icon>
				<input moment-picker="vm.start_date" required
					 format="YYYY"
					 min-view="decade"
					 max-view="decade"
					 min-date="2015"
					 change="vm.changeYear()"
					 max-date="vm.end_date"
					 ng-model="vm.start_date_full">
				</input>
			</md-input-container>
		</div>
		<div flex>
			<md-input-container flex class="md-icon-float md-block">
				<label>End Date</label>
				<md-icon md-font-library="material-icons">today</md-icon>
				<input moment-picker="vm.end_date" required
					 format="YYYY"
					 min-view="decade"
					 max-view="decade"
					 change="vm.changeYear()"
					 min-date="vm.start_date"
					 ng-model="vm.end_date_full">
				</input>
			</md-input-container>
		</div>
		<div>
			<md-button type="button" class="md-primary md-icon-button" ng-click="vm.changeYear()">
				<md-tooltip md-direction="top">Reload Chart Data</md-tooltip>
				<i class="material-icons">refresh</i>
			</md-button>
		</div>
	</div>
</md-content>
<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per Person ({{vm.start_date}} - {{vm.end_date}})</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per Person Per User Type ({{vm.start_date}} - {{vm.end_date}})</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data2" chart-labels="vm.labels2" chart-series="vm.series2" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
</md-content>
<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div># of Active Members ({{vm.start_date}} - {{vm.end_date}})</div>  <!-- chart-dataset-override="vm.datasetOverride3"  -->
			<canvas id="line" class="chart chart-bar" chart-dataset-override="vm.datasetOverride3" chart-data="vm.data3" chart-labels="vm.labels3" chart-series="vm.series3" chart-click="" chart-options="vm.stackedOptions"></canvas>
		</div>
	</div>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per Gender ({{vm.start_date}} - {{vm.end_date}})</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data5" chart-labels="vm.labels5" chart-series="vm.series5" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
</md-content>
<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per Grade ({{vm.start_date}} - {{vm.end_date}})</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data7" chart-labels="vm.labels7" chart-series="vm.series7" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per School ({{vm.start_date}} - {{vm.end_date}})</div>
			<canvas id="line" class="chart chart-line" chart-data="vm.data10" chart-labels="vm.labels10" chart-series="vm.series10" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
</md-content>
<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per Week ({{vm.start_date}})</div> <!-- chart-dataset-override="vm.datasetOverride3"  -->
			<canvas id="line" class="chart chart-line" chart-data="vm.data6" chart-labels="vm.labels6" chart-series="vm.series6" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per Day of Week ({{vm.start_date}} - {{vm.end_date}})</div>  <!-- chart-dataset-override="vm.datasetOverride3"  -->
			<canvas id="line" class="chart chart-bar" chart-dataset-override="vm.datasetOverride9" chart-data="vm.data9" chart-labels="vm.labels9" chart-series="vm.series9" chart-click="" chart-options="vm.stackedOptions"></canvas>
		</div>
	</div>
</md-content>
<md-content layout="column" layout-gt-sm="row" flex>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per Event ({{vm.start_date}})</div> <!-- chart-dataset-override="vm.datasetOverride3"  -->
			<canvas id="line" class="chart chart-bar" chart-data="vm.data4" chart-labels="vm.labels4" chart-series="vm.series4" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
	<div flex layout="column" class="md-margin">
		<div layout="column">
			<div>Hours per Event Type ({{vm.start_date}})</div> <!-- chart-dataset-override="vm.datasetOverride3"  -->
			<canvas id="line" class="chart chart-bar" chart-data="vm.data8" chart-labels="vm.labels8" chart-series="vm.series8" chart-click="" chart-options="vm.options"></canvas>
		</div>
	</div>
</md-content>z
