<md-dialog aria-label="New Event" style="" layout="column" flex="50">
	<!--<form ng-cloak layout="column" flex layout-fill style="" ng-submit="vm.addEvent()">-->
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
			<h2>New Event</h2>
			<span flex></span>
			<md-button type="submit" class="md-icon-button" ng-click="vm.searchEventModal()">
				<md-tooltip md-direction="top">Search for Google Calendar Event</md-tooltip>
				<md-icon class=""> search </md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="vm.cancel()">
				<md-tooltip md-direction="top">Close</md-tooltip>
			  <md-icon class=""> close </md-icon>
			</md-button>
		  </div>
		</md-toolbar>
		<form ng-cloak layout="column" flex layout-fill style="" ng-submit="vm.addEvent()">
			<md-dialog-content layout-wrap class="md-margin" style="overflow-y: scroll;">
				<div layout="row">
					<md-input-container flex class="md-icon-float md-block">
						<label>Event Name</label>
						<md-icon md-font-library="material-icons">event_available</md-icon>
						<input ng-model="vm.data.name" readonly required></input>
						<div class="hint">This is autopopulated from the Google Calendar.  Update the Google calendar for changes.</div>
					</md-input-container>
					<md-input-container flex class="md-icon-float md-block">
		        <label>Event Type</label>
						<md-icon md-font-library="material-icons">info_outline</md-icon>
						<md-select ng-model="vm.data.type" style="min-width:150px;" required>
							<md-option ng-value="null"><em>None</em></md-option>
							<md-option ng-repeat="event_type in vm.eventTypes" ng-value="event_type.type">
								{{event_type.type}}
							</md-option>
						</md-select>
		      </md-input-container>
				</div>
				<div layout="row">
					<md-input-container flex class="md-icon-float md-block">
						<label>Start Time</label>
						<md-icon md-font-library="material-icons">today</md-icon>
						<input moment-picker="vm.data.startTime" disable="true"
							 format="LLL"
							 ng-model="vm.data.start_moment" required>
						</input>
						<div class="hint">This is autopopulated from the Google Calendar.  Update the Google calendar for changes.</div>
					</md-input-container>
					<md-input-container flex class="md-icon-float md-block">
						<label>End Time</label>
						<md-icon md-font-library="material-icons">today</md-icon>
						<input moment-picker="vm.data.endTime" disable="true"
							 format="LLL"
							 ng-model="vm.data.end_moment" required>
						</input>
						<div class="hint">This is autopopulated from the Google Calendar.  Update the Google calendar for changes.</div>
					</md-input-container>
				</div>
				<div layout="row">
					<md-input-container flex class="md-icon-float md-block" >
							<label>Location</label>
							<md-icon md-font-library="material-icons">location_on</md-icon>
							<input ng-model="vm.data.location" readonly required></input>
							<div class="hint">This is autopopulated from the Google Calendar.  Update the Google calendar for changes.</div>
						</md-input-container>
				</div>
				<div layout="column">
					<div>
						Event Requirements
					</div>
					<div layout="row" layout-wrap>
						<md-switch class="md-primary"  ng-model="vm.data.requirements.payment">
					   Payment Required
					  </md-switch>
						<md-switch class="md-primary"  ng-model="vm.data.requirements.permission_slip">
					   Permission Slip Required
					  </md-switch>
						<md-switch class="md-primary"  ng-model="vm.data.requirements.food">
					   Food Order Required
					  </md-switch>
						<md-switch class="md-primary"  ng-model="vm.data.requirements.room">
							Lodging Required
					  </md-switch>
						<md-switch class="md-primary"  ng-model="vm.data.requirements.drivers">
					   	Drivers Required
					  </md-switch>
						<md-switch class="md-primary"  ng-model="vm.data.requirements.time_slots">
					   	Time Slots Required
					  </md-switch>
					</div>
				</div>
				<div layout="column" ng-show="vm.data.requirements.room">
					<div>
						Initial Number of Hotel Rooms
					</div>
					<div layout="row" layout-wrap layout-align="start center">
						<md-input-container flex class="md-icon-float md-block md-icon-left">
			        <label># Student Boys Rooms</label>
							<!--<md-icon md-font-library="material-icons">event_note</md-icon>-->
							<input ng-model="vm.data.rooms.boys" ng-required="vm.data.requirements.room" type="number" min="0"></input>
			      </md-input-container>
						<md-input-container flex class="md-icon-float md-block md-icon-left">
			        <label># Student Girls Rooms</label>
							<!--<md-icon md-font-library="material-icons">event_note</md-icon> -->
							<input ng-model="vm.data.rooms.girls" ng-required="vm.data.requirements.room" type="number" min="0"></input>
			      </md-input-container>
						<md-input-container flex class="md-icon-float md-block md-icon-left">
			        <label># Adult Rooms</label>
							<!--<md-icon md-font-library="material-icons">event_note</md-icon>-->
							<input ng-model="vm.data.rooms.adults" ng-required="vm.data.requirements.room" type="number" min="0"></input>
			      </md-input-container>
					</div>
				</div>
				<div layout="row">
						<md-input-container flex class="md-icon-float md-block md-icon-left">
			        <label>Details</label>
							<md-icon md-font-library="material-icons">event_note</md-icon>
			        <div ng-bind-html="vm.data.details | linky:'_blank'" style="margin-top: 30px; white-space: pre-wrap;"></div>
			      </md-input-container>
				</div>
				<!--
				<div layout="column">
						<md-switch class="md-primary"  ng-model="vm.data.exempt_hours">
					   Exempt Hours
					  </md-switch>
				</div>
			-->
			</md-dialog-content>
			<md-dialog-actions layout="row">
				<md-button type="submit" class="md-raised md-primary">
					Submit
				</md-button>
			</md-dialog-actions>
		</form>
	<!--</form>-->
</md-dialog>
