<md-dialog aria-label="Updates FIRST Portal Credentials" style="" layout="column" >
	<form ng-cloak layout="column" flex layout-fill ng-submit="vm.updateCredentials()">
		<md-toolbar layout="row">
		  <div class="md-toolbar-tools">
				<h2>Update FIRST Portal Credentials</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
				  <md-icon class=""> close </md-icon>
				</md-button>
	  	</div>
		</md-toolbar>
		<md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
		<md-dialog-content layout="column" layout-margin>
			<div layout="column">
				<md-input-container flex>
					<label>Email</label>
					<input ng-model="vm.data.email" required>
				</md-input-container>
				<div flex layout="row" layout-align="start center">
					<md-input-container flex>
						<label>Password</label>
						<input ng-model="vm.data.password" required type="{{vm.show_first_pass ? 'text':'password'}}">
						<span class="hint">Your password is not saved or stored.</span>
					</md-input-container>
					<md-button class="md-icon-button" ng-click="vm.show_first_pass = !vm.show_first_pass">
						<md-tooltip md-direction="top"><span ng-show="!vm.show_first_pass">Show</span><span ng-show="vm.show_first_pass">Hide</span> Password</md-tooltip>
						<md-icon md-font-library="material-icons" ng-show="!vm.show_first_pass">visibility</md-icon>
						<md-icon md-font-library="material-icons" ng-show="vm.show_first_pass">visibility_off</md-icon>
					</md-button>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button type="submit">
				Submit
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
